@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url(../font/AvenirNextCyr-Regular.eot);
  src: url(../font/AvenirNextCyr-Regular.woff);
  src: url(../font/AvenirNextCyr-Regular.woff2);
  src: url(../font/AvenirNextCyr-Regular.ttf);
  src: url(../font/AvenirNextCyr-Regular.otf); }

@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url(../font/AvenirNextCyr-Bold.eot);
  src: url(../font/AvenirNextCyr-Bold.woff);
  src: url(../font/AvenirNextCyr-Bold.woff2);
  src: url(../font/AvenirNextCyr-Bold.ttf);
  src: url(../font/AvenirNextCyr-Bold.otf); }

@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: url(../font/AvenirNextCyr-Light.eot);
  src: url(../font/AvenirNextCyr-Light.woff);
  src: url(../font/AvenirNextCyr-Light.woff2);
  src: url(../font/AvenirNextCyr-Light.ttf);
  src: url(../font/AvenirNextCyr-Light.otf); }

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url(../font/AvenirNextCyr-Medium.eot);
  src: url(../font/AvenirNextCyr-Medium.woff);
  src: url(../font/AvenirNextCyr-Medium.woff2);
  src: url(../font/AvenirNextCyr-Medium.ttf);
  src: url(../font/AvenirNextCyr-Medium.otf); }

body {
  color: #3f3f3f; }

.humb {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer; }
  @media (max-width: 991px) {
    .humb {
      display: block; } }
  .humb span.hun-lin {
    width: 20px;
    height: 2px;
    background-color: #3f3f3f;
    display: block;
    margin-bottom: 4px; }

.menu-mobile-row {
  display: none;
  padding: 20px 0px; }
  @media (max-width: 991px) {
    .menu-mobile-row {
      display: block; } }

h1 {
  font-family: "AvenirNextCyr-Bold"; }

.logo span {
  font-family: "AvenirNextCyr-Bold";
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0;
  line-height: 0;
  border-bottom: 2px solid #3f3f3f; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  min-height: 301px; }
  @media (max-width: 991px) {
    header {
      min-height: 100%; } }
  header nav {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    display: block; }
    @media (max-width: 991px) {
      header nav {
        position: relative; } }
    header nav .col-md-8 {
      position: static; }
    header nav .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-between;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 767px) {
        header nav .row {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column; } }
    header nav ul {
      padding-left: 0; }
      @media (max-width: 991px) {
        header nav ul {
          display: none; } }
      header nav ul li {
        list-style-type: none;
        color: #3f3f3f;
        display: inline-block;
        float: left;
        margin: 0px 10px; }
        @media (max-width: 991px) {
          header nav ul li {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 18px;
            margin-bottom: 15px; } }
        header nav ul li a {
          color: #3f3f3f; }
          header nav ul li a:hover {
            color: #3f3f3f;
            text-decoration: none; }
    header nav .contacts img {
      -webkit-filter: brightness(10%);
              filter: brightness(10%);
      opacity: 0.8; }
      header nav .contacts img:hover {
        opacity: 1;
        -webkit-filter: brightness(0%);
                filter: brightness(0%); }
  @media (max-width: 767px) {
    header .logo {
      margin-bottom: 10px; } }
  header h1 {
    margin-bottom: 30px; }
  header p {
    font-size: 20px;
    font-family: "AvenirNextCyr-Bold";
    color: #3f3f3f; }
  header a.button {
    margin-top: 30px; }

.s-1 {
  padding: 50px 10px; }
  .s-1 .proj-box {
    margin-bottom: 30px;
    position: relative; }
    .s-1 .proj-box:hover .prog-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      background-color: rgba(0, 0, 0, 0.8); }
  .s-1 .proj-img {
    z-index: 2; }
    .s-1 .proj-img img {
      max-width: 100%;
      height: auto;
      display: block;
      opacity: 0.8; }
      .s-1 .proj-img img .prog-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
  .s-1 .prog-content {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 5;
    color: #FFF; }
    .s-1 .prog-content:hover .proj-img img:hover {
      opacity: 1;
      -webkit-filter: brightness(100%);
              filter: brightness(100%); }
    .s-1 .prog-content h4 {
      font-family: "AvenirNextCyr-Medium";
      text-transform: uppercase; }
    .s-1 .prog-content a {
      color: #FFF;
      font-size: 10px;
      text-transform: uppercase; }
      .s-1 .prog-content a:hover {
        color: #FFF; }
  .s-1 h2 {
    font-family: "AvenirNextCyr-Bold";
    margin-bottom: 40px; }

footer {
  padding: 20px 10px 50px;
  background-color: #e4e8f3;
  color: #11103a; }
  footer a {
    color: #11103a;
    padding: 0 10px;
    display: block;
    margin-bottom: 10px; }
  footer .conts a {
    color: #3f3f3f; }
    footer .conts a:hover {
      color: #3f3f3f; }
  footer .conts {
    text-align: right;
    font-size: 14px;
    color: #F05DA1; }
