<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Поставка высококачественных нефтепродуктов оптом собственными бензовозами по всей Украине</title>  
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content=" " />
	<meta name="keywords"  content=" " />
	<meta name="Resource-type" content="Document" />
	<link rel="icon" type="image/png" sizes="64x64" href="img/favico.png">
	<meta property="og:title" content=" " /> 
	<meta property="og:url" content="" />
	<meta property="og:image" content="img/ogg.jpg" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css"> 
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
<header id="top" class="header-s">
	<div class="container">
		<div class="row high-raw">
			<div class="col-md-2 col-sm-3 col-xs-12 lg-b">
			<div class="logo"></div>
			<p class="log-descr">Лучшее время для вашего авто</p></div>
			<div class="user-cont col-md-7 col-md-offset-3 col-sm-9">  
			<div class="user-block">
				<div class="user-link">
<i class="fas fa-mobile-alt"></i><a href="tel:+380512709409"><strong>+38 0512</strong> 709 409</a></div>
				<div class="user-link"><i class="far fa-envelope"></i><a href="mailto:info@kvorum.mk.ua">info@kvorum.mk.ua</a></div>
			</div>
			<button class="trans-btn" data-toggle="modal" data-target="#modal-recall" onclick="setbtn(this);"  title="Заказать звонок">Заказать звонок</button>
			</div>
	</div>
	</div> 
	<div class="container-fluid bg-cont">
	<div class="container">
		<div class="row price-row">
			<div class="price price-1"><span class="h">А 95</span><span class="p">28.85</span></div>
			<div class="price price-2"><span class="h">А 92</span><span class="p">27.95</span></div>
			<div class="price price-3"><span class="h">А 92 е</span><span class="p">28.25</span></div>
			<div class="price price-4"><span class="h">ДТ</span><span class="p">26.20</span></div>
			<div class="price price-5"><span class="h">ДТ е</span><span class="p">26.95</span></div>
			<div class="price price-6"><span class="h">ГАЗ</span><span class="p">13.40</span></div>
		</div>
		<div class="row">
			<div class="col-sm-7 head-inf">
				<h1>Поставка высококачественных нефтепродуктов </h1>
				<p class="head-z">в розницу через сеть АЗС и оптом собственными бензовозами по всей Украине</p>
				<div class="header-descrip">
					<ul>
						<li><i class="fas fa-check"></i> Топливо лучших марок по цене ниже рыночной</li>
						<li><i class="fas fa-check"></i> Разветвленная сеть АЗС в Николаеве и Херсоне</li>
						<li><i class="fas fa-check"></i> Собственная нефтебаза в пгт. Гороховка, Николаевская область</li>
					</ul>
				</div> 
			<button class="bir-btn" data-toggle="modal" data-target="#modal-calcprice" onclick="setbtn(this);"  title="РАССЧИТАТЬ СТОИМОСТЬ ДОСТАВКИ">РАССЧИТАТЬ СТОИМОСТЬ ДОСТАВКИ</button>
			</div>
		</div>
	</div>
	<div class="bg-cont-m"></div>
	</div>
	<div class="container-fluid logos-cont">
	<div class="container">
		<div class="row logos-row"> 
<div class="img-slide"><div class="logos-nika"></div></div>  

<div class="img-slide"><div class="logos-vitera"></div></div>  

<div class="img-slide"><div class="logos-paek"></div></div>  

<div class="img-slide"><div class="logos-oblen"></div></div>  

<div class="img-slide"><div class="logos-olvia"></div></div>  

<div class="img-slide"><div class="logos-nibul"></div></div>  

<div class="img-slide"><div class="logos-ukrrech"></div></div>  

<div class="img-slide"><div class="logos-rusal"></div></div>  

<div class="img-slide"><div class="logos-zara-pro"></div></div>  

<div class="img-slide"><div class="logos-molal"></div></div>  

<div class="img-slide"><div class="logos-gazova"></div>  </div>  
		</div>
	</div>
	</div>
</header>
<section id="s-1" class="s-1">
	<div class="container">
		<div class="row headline">
			<h2>ТОПЛИВНАЯ КОМПАНИЯ Кворум-Нафта</h2>
			<div class="head-line-und"></div>
			<p class="head-descrip">Ведущая компания на рынке продажи и доставки высококачественных нефтепродуктов бензовозами и<br/> топливозаправщиками на территории Николаевской области и по всей Украине </p>
		</div>
		<div class="row cont">
			<div class="inf-block">
<div class="icos-like-2"></div>
				<p><strong>Прямые поставки топлива.</strong> 
 Контроль качества. Минимальная стоимость для потребителя</p>
			</div>
			<div class="inf-block">
<div class="icos-money-2"></div>
				<p><strong>Гибкая ценовая политика.</strong> Индивидуальный подход к каждому клиенту</p>
			</div>
			<div class="inf-block">
<div class="icos-15"></div>
				<p><strong>Более 15 лет успешной работы</strong> на украинском рынке нефтепродуктов</p>
			</div>
			<div class="inf-block">
<div class="security"></div>
				<p><strong>Гарантируем соблюдение техники безопасности,</strong> заботимся об охране окружающей среды</p>
			</div>
			<div class="inf-block">
<div class="icos-industry"></div>
				<p><strong>Топливо напрямую от производителя</strong> дает возможность не только контролировать его качество, но и снизить стоимость для конечного потребителя</p>
			</div> 
			<div class="inf-block">
<div class="icos-sputnik"></div>
				<p><strong>Спутниковый контроль перемещения бензовоза.</strong> Вы всегда можете отследить точное его местоположение online</p>
			</div>
		</div>
		<div class="row text-center">
			<button class="bir-btn" data-toggle="modal" data-target="#modal-freecon" onclick="setbtn(this);"  title="ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ">ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button></div>
		<div class="row bg-pic"></div>
	</div>
</section>
<section id="s-2" class="s-2">
	<div class="container">
		<div class="row headline">
			<h2>НАША ПРОДУКЦИЯ</h2>
			<div class="head-line-und"></div>
			<p class="head-descrip">Полный спектр автомобильного топлива всегда в наличии по самым выгодным ценам.</p>
		</div>
		<div class="row prod">
			<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="prod-block">
				<div class="productsdt"></div>
				<div class="prod-header">
				<h4>Дизельное топливо</h4>
			</div>
				<hr>
				<p class="prod-descrip">Мы предлагаем ДТ, которое соответствует стандартам качества ДСТУ 7688:2015 Стандарта ЕВРО5.</p>
			<button class="bir-btn" data-toggle="modal" data-target="#modal-buy" onclick="setbtn(this);"  title="ЗАКАЗАТЬ Дизельное топливо">ЗАКАЗАТЬ</button>
			</div></div>
			<div class="col-lg-3 col-sm-6 col-xs-12"> 
			<div class="prod-block">
<div class="productsgasoline"></div>
				<div class="prod-header">
				<h4>Бензин</h4>
				<p class="prod-little-descrip">А92, А92евро, А95</p></div>
				<hr>
				<p class="prod-descrip">Бензин реализуемый нашей компанией, соответствует всем мировым экологическим стандартам, имеет соответствующие сертификаты и паспорта качества.</p>
			<button class="bir-btn" data-toggle="modal" data-target="#modal-buy" onclick="setbtn(this);"  title="ЗАКАЗАТЬ Бензин">ЗАКАЗАТЬ</button>
			</div></div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="prod-block">
<div class="productsgaz"></div>
				<div class="prod-header">
				<h4>Газ</h4> </div>
				<hr>
				<p class="prod-descrip">Компания Кворум-Нафта реализует газовое топливо, приобретаемое по прямым контрактам с зарубежными производителями.</p>
			<button class="bir-btn" data-toggle="modal" data-target="#modal-buy" onclick="setbtn(this);"  title="ЗАКАЗАТЬ Газ">ЗАКАЗАТЬ</button>
			</div></div>
			<div class="col-lg-3 col-sm-6 col-xs-12">
			<div class="prod-block">
<div class="productsoil"></div>
				<div class="prod-header">
				<h4>Масло</h4></div>
				<hr>
				<p class="prod-descrip">Мы реализуем качественные масла для ДВС ведущих украинских и зарубежных производителей.</p>
			<button class="bir-btn" data-toggle="modal" data-target="#modal-buy" onclick="setbtn(this);"  title="ЗАКАЗАТЬ Масло">ЗАКАЗАТЬ</button>
			</div>
		</div>
		</div>
	</div>
</section> 
<section class="s-4">
	<div class="container-fluid"> 
		<ul>
			<li></li>
			<li><h3>Более 15 лет мы поставляем</h3><p class="desc">масло, газ, бензин и дт</p></li>
			<li><span>Судов</span></li>
			<li><span>АЗС</span></li>
			<li></li>
			<li></li>
			<li><span>Спецтехники</span></li>
			<li><span>Фермерских хозяйств</span></li>
			<li><span>Автопарков</span></li>
			<li></li>
			<li></li>
			<li><span>Автобусов</span></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div> 
</section>
<section id="s-5" class="s-5">
	<div class="container">
		<div class="row headline">
			<h2>Сотрудничество с компанией Кворум-Нафта</h2>
			<div class="head-line-und"></div>
			<p class="head-descrip">Покупайте продукцию высокого качества</p>
		</div>
		<div class="row">
<div id="exTab2" class="container">	
<ul class="nav nav-tabs">
			<li class="active">
        <a  href="#1" data-toggle="tab">Оптовые продажи</a>
			</li>
			<li><a href="#2" data-toggle="tab">Мелко-оптовые продажи</a>
			</li> 
		</ul>

			<div class="tab-content container">
			  <div class="tab-pane active" id="1">
			  	<div class="row panel"> 
			  	<div class="col-md-7 text"><p> 
<strong>Преимущества оптовых покупок с Кворум-Нафта:</strong><br/><br/> 
<ul class="s-5-list">
	<li>
Мы можем осуществлять продажу и транспортировку больших объемов топлива.</li>
	<li>
Мы доставляем топливо в установленные сроки, ценим ваше время. </li>
	<li>
Продажа топлива осуществляется с собственной нефтебазы напрямую заказчику. </li>
	<li>
Компания гарантирует высокое качество предоставленного продукта и услуг.</li>
</ul>  <br/> 
<strong>Сотрудничая с Кворум-Нафта Вы всегда можете быть уверены в том, что топливо полностью соответствует стандартам ГОСТ и «Евро-5». </strong> </p></div>
			  	<div class="col-md-5"><img src="img/tabs-map.png" class="img-responsive" alt=""></div>
<div class="col-md-12 text-center"><button class="bir-btn" data-toggle="modal" data-target="#modal-freecon" onclick="setbtn(this);"  title="ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ">ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button></div>
				</div></div>
				<div class="tab-pane" id="2">
			  	<div class="row panel"> 
			  	
			  	<div class="col-md-7 text"><p> 
<strong>Поскольку автомобильное топливо</strong>  – это широко востребованный продукт нефтепереработки, многие компании-посредники, специализирующиеся на продаже дизеля и бензина, устанавливают высокую наценку на данную продукцию. 
<br/><br/>
<strong>Компания Кворум-Нафта предоставляет высококачественное топливо</strong>  от производителя по приемлемым ценам для вашего бизнеса и личного пользования. 
<br/><br/>
Не редко компании, которые осуществляют оптовую торговлю топливом, предвзято относятся к мелкооптовым заказом. Наша компания гарантирует не дискриминационные условия для мелкого опта. 
<br/><br/>
<strong>Компания Кворум-Нафта обеспечивает своевременную доставку</strong>  и безопасную отгрузку топлива автомобильным транспортом, благодаря наличию современно оборудованных бензовозов. 
<br/><br/>
<strong>Основные преимущества</strong>  сотрудничества с компанией Кворум-Нафта:
- Мелкие оптовые продажи и минимальный заказ от 2000 литров;<br/>
- Своевременная доставка по всей территории Украины собственным автотранспортом и транспортом заказчика;<br/>
- Цены от производителя и высокое качество предоставляемой продукции. </p> </div>
			  	<div class="col-md-5"><img src="img/tabs-map.png" class="img-responsive" alt=""></div>
<div class="col-md-12 text-center"><button class="bir-btn" data-toggle="modal" data-target="#modal-freecon" onclick="setbtn(this);"  title="ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ">ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button></div>
				</div>
				</div> 
			</div>
  </div>
		</div>
	</div>
</section>  
<section id="s-8" class="s-8">
	<div class="container">
		<div class="row headline">
			<h2>О компании Кворум-Нафта</h2>
			<div class="head-line-und"></div>
			<p class="head-descrip">Поставляем топливо всех марок европейского качества и предлагаем высокие стандарты обслуживания.<br/> У нас всегда можно купить нужный вид топлива в необходимом для Вас объеме по лучшей цене.</p>
		</div>
	<div class="container cont">
		<div class="row">
			<div class="col-md-5">
				<div class="slider-for">
				<img src="img/stela-1.png" class="img-responsive" alt="">  </div>
				<div class="slider-nav"> 
				<img src="img/stela-2.png" alt="">
				<img src="img/stela-3.png" alt="">
				<img src="img/stela-4.png" alt=""></div>
			</div>
			<div class="col-md-7 text-p"><h3>Работаем напрямую с заводами:</h3>
				<div class="lgos-cont"><div class="img-34"></div>
<div class="img-40"></div>
<div class="img-3"></div>
<div class="img-37"></div>
<div class="img-36"></div></div>
				<p class="descrip"><strong>Наша цель</strong> - максимально удовлетворить потребности наших клиентов, предоставляя качественные услуги. Мы развиваем логистическую сеть для большего комфорта наших клиентов.<br/><br/>
<strong>Мы сотрудничаем с автолюбителями,</strong> с крупными предприятиями автомобильного, железнодорожного и морского транспорта, компаниями машиностроения и судостроения, Укроборонпром, предприятиями торговли и сферы услуг, фермерскими хозяйствами.</p>
<p><strong>Команда компании Кворум-Нафта - это отзывчивые,</strong>  внимательные и амбициозные люди, настоящие профессионалы своего дела, работающие на результат и готовы дать квалифицированную консультацию в любой ситуации каждому клиенту. Мы не знаем слов "сложно" и "невозможно".</p><br/><br/>
 </div>
			</div>
			<div class="row">
				<ul class="lsit-ico">
					<li>
<div class="icos-guarantee"></div>
						<p>Четкое соблюдение договорных условий поставок</p>
					</li>
					<li>
<div class="icos-medal"></div>
						<p>Качество продукции ГОСТ и «Евро-5»</p>
					</li>
					<li>
<div class="icos-plane"></div>
						<p>Транспортировка нефтепродуктов<br/> как ж/д, так и авто-транспортом</p>
					</li>
					<li>
<div class="icos-invoice"></div>
						<p>Удобная схема оплаты: по факту поставки; отсрочка платежа</p>
					</li>
					<li>
<div class="icos-user-2"></div>
						<p>Высококвалифицированные специалисты</p>
					</li>
				</ul>
		</div>
		</div>
	</div>
</section>
<section id="s-9" class="s-9">
	<div class="container">
		<div class="row headline">
			<h2>ПОЛУЧАЙТЕ КАЧЕСТВЕННЫЕ УСЛУГИ И ПРОДУКТЫ</h2>
			<div class="head-line-und"></div> 
		</div>
		<div class="row">
			<div class="col-md-3 numb">
				<div class="numb-item">1</div>
				<h4>Продажа топлива</h4>
				<p>Реализация нефтепродуктов евростандартов по выгодной цене оптом и в розницу как в Николаевской области, так и по всей Украине</p>
			</div>
			<div class="col-md-3 numb">
				<div class="numb-item">2</div>
				<h4>Перевозка топлива</h4>
				<p>Транспортировка любых объемов как в Николаевской области, так и по всей Украине</p>
			</div>
			<div class="col-md-3 numb">
				<div class="numb-item">3</div>
				<h4>Откачка и утилизация топлива</h4>
				<p>Откачка нефтепродуктов с последующей их утилизацией, промывка емкостей</p>
			</div>
			<div class="col-md-3 numb">
				<div class="numb-item">4</div>
				<h4>Услуги хранения</h4>
				<p>Предоставление емкостей для хранения топлива</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row buck text-center"><button class="bir-btn" data-toggle="modal" data-target="#modal-getusl" onclick="setbtn(this);"  title="Заказать Услугу">Заказать Услугу</button></div></div>
</section> 
<section id="s-12" class="s-12">
	<div class="container">
		<div class="row headline">
			<h2><strong>АВТОПАРК</strong><br/>
Главное для техники – объемы и надежность</h2>
			<div class="head-line-und"></div>
			<p class="head-descrip">GPS/ГЛОНАСС диспетчеризация заявок. Собственный парк бензовозов объемом от 5 до 42 м3</p>
		</div>
		<div class="row trucks"><ul>
			<li>
<div class="truck-benz-tuck-1"></div></li>
			<li>
<div class="truck-benz-tuck-2"></div></li>
			<li>
<div class="truck-benz-tuck-3"></div></li>
			<li>
<div class="truck-benz-tuck-4"></div></li>
			<li>
<div class="truck-benz-tuck-5"></div></li>
			<li>
<div class="truck-benz-tuck-6"></div></li>
			<li>
<div class="truck-benz-tuck-7"></div></li>
			<li>
			<div class="truck-benz-tuck-8"></div></li>
			<li>
<div class="truck-benz-tuck-9"></div></li>
			<li>
<div class="truck-benz-tuck-10"></div></li>
			<li>
<div class="truck-benz-tuck-11"></div></li>
			<li>
<div class="truck-benz-tuck-12"></div></li>
			<li>
<div class="truck-benz-tuck-13"></div></li>
		</ul></div>
		<div class="row"><p class="s-12-col-text"><strong>Все машины оборудованы счетчиками, </strong>насосами и сливными шлангами.<br/><br/> <strong>Высокий уровень квалификации водителей, </strong> мы принимаем на работу только специалистов со стажем от 5 лет.
			<br/><br/><strong>Обеспечиваем поставку</strong> высококачественных нефтепродуктов по всей территории Украины, предоставляет также аренду бензовозов и емкостей.<br/>
			<strong>Компания Кворум-Нафта предоставляет</strong> полный спектр услуг, связанных с транспортировкой топлива.
			<br/><br/><strong>Мы полностью берем на себя ответственность</strong> при транспортировке, откачке и утилизации топлива. 		</p>
<div class="col-md-12 text-center"><button class="bir-btn" data-toggle="modal" data-target="#modal-buydost" onclick="setbtn(this);"  title="Заказать доставку топлива">Заказать доставку топлива</button></div>
</div>
	</div>
</section>
<section id="s-13" class="s-13 hidden">
	<div class="container">
		<div class="row headline"> 
			<h2>Акция</h2>
			<div class="head-line-und"></div>
			<p class="head-descrip">Дарим скидку участникам бонус<br/> клубу Кворум-Нафта<br/><br/>
<strong>-3% от цены на газ</strong>
</p> 
		</div>
	</div>
</section>
<section id="s-14" class="s-14">
	<div class="container-fluid"> 
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.5110343960396!2d32.02786621505596!3d46.97129633964094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c5ca32f1543461%3A0xb631d868b60367fd!2z0JrQstC-0YDRg9C8LdCd0LDRhNGC0LA!5e0!3m2!1sru!2sua!4v1523882320090"  frameborder="0" style="border:0" allowfullscreen></iframe> 
	</div>
</section>
<footer id="s-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 clos">
				<h4>Кворум-Нафта</h4>
				<p class="litl">© 2018 Кворум-Нафта топливная компания. Все права защищены в соответствии с законодательством Украины.</p>
			<div class="logo"></div>
			</div>
			<div class="col-md-3 clos">
				<h4>ссылки</h4>
				<ul>
					<li><a href="">Продукция</a></li>
					<li><a href="">О компании</a></li>
					<li><a href="">Услуги</a></li> 
					<li><a href="">Розница Сеть АЗС</a></li>
					<li><a href="">Сотрудничество</a></li> 
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="col-md-3 clos">
				<h4>Контакты</h4>
				<p>Украина, г. Николаев, ул. Гречишникова, 52
					<br/>
					<br/>
					<a href="mail:info@kvorum.mk.ua">info@kvorum.mk.ua</a>
					<br/>
					<br/><a href="tel:+380512709409">+380512 709 409</a></p>
			</div>
			<div class="col-md-3 clos">
				<h4>быстрая связь</h4>
				<p>Наш менеджер знает о топливе все!
Задайте ему Ваш вопрос!</p>
<button class="bir-btn" data-toggle="modal" data-target="#modal-recall" onclick="setbtn(this);"  title="ЗАКАЗАТЬ звонок">ЗАКАЗАТЬ звонок</button>
<p class="copyright"><a href="http://scaling.com.ua">Разработано в Scaling</a></p>
			</div>
		</div>
	</div>
</footer>
<a href="#top" class="top-arrs"><i class="fas fa-chevron-up"></i></a>
<!-- Modal  заказать звонок-->
<div id="modal-recall" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header  headline">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Заказать звонок</h3>  
<p>Заполните поля формы, менеджер перезвонит Вам в течение 15 минут</p>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ЗАКАЗАТЬ ЗВОНОК</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
<!-- Modal  РАССЧИТАТЬ СТОИМОСТЬ ДОСТАВКИ-->
<div id="modal-calc" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header headline">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>РАССЧИТАЙТЕ 
СТОИМОСТЬ ПЕРЕВОЗКИ 
         ПРЯМО СЕЙЧАС!</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">РАССЧИТАТЬ СТОИМОСТЬ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
<!-- Modal  ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ-->
<div id="modal-freecon" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Оставьте заявку на консультацию</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
<!-- Modal  ЗАКАЗАТЬ-->
<div id="modal-buy" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Оставить заявку</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ОСТАВИТЬ ЗАЯВКУ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
<!-- Modal  РАССЧИТАТЬ СТОИМОСТЬ-->
<div id="modal-calcprice" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Оставьте заявку на консультацию и расчет стоимости</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ И РАСЧЕТ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
<!-- Modal ПОЛУЧИТЬ СПЕЦПРЕДЛОЖЕНИЕ И СКИДКУ-->
<div id="modal-getsale" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Получите спецпредложение и скидку</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ПОЛУЧИТЬ СПЕЦПРЕДЛОЖЕНИЕ И СКИДКУ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
<!-- Modal Заказать услугу-->
<div id="modal-getusl" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Оставьте заявку на консультацию и расчет стоимости</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ И РАСЧЕТ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
<!-- Modal ЗАКАЗАТЬ ДОСТАВКУ ТОПЛИВА-->
<div id="modal-buydost" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Оставьте заявку на консультацию и расчет стоимости</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value=""> 
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ОСТАВИТЬ ЗАЯВКУ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
	 <script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/common.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-equalheights@1.0.4/jquery.equalheights.min.js"></script>	<script type="text/javascript"> 
function setbtn(obj) {
var id=obj.title;
$('.popup-shower').val("\nСтраница - Опт(Укр) \nФорма: " + id);
}
	</script> 
</body>
</html>