<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>  
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content=" " />
	<meta name="keywords"  content=" " />
	<meta name="Resource-type" content="Document" />
	<link rel="icon" type="image/png" sizes="64x64" href="img/favico.png">
	<meta property="og:title" content=" " /> 
	<meta property="og:url" content="" />
	<meta property="og:image" content="img/ogg.jpg" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body class="page-template-about_us">
<header>
	<nav >
		<div class="container">
			<div id="menu" class=" default container"> 
			<div class="container fixd">
				<div class="row">
				<div class="col-sm-2 col-xs-4 menu-block">
					<div class="menu-btn">
					<div class="menu-ico"></div>
					МЕНЮ</div>
				</div>
				<div class="col-sm-8 col-xs-4 text-center">
					<div class="logo"></div>
					<p class="logos-text">Оптовая продажа овощей и фруктов</p>
				</div>
				<div class="col-sm-2 col-xs-4 language-block">
					<div class="icos-sprite-flag-ru"></div> RU
				</div>
				</div>
			<div class="menu-row row">
			<div class="container ">
				<ul class="main-menu">
					<li><a href="index.html">Главная</a></li>
					<li><a href="about.html">О компании</a></li>
					<li><a href="catalog.html">Каталог товаров</a></li>
					<li><a href="sotrud.html">Сотрудничество</a></li>
					<li><a href="gallery.html">Галерея</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</div>
			</div> 
			</div>
			</div>
		</div>
	</nav>
</header>
<section class="s-header" style="background-image: url(img/about-us-bg.png); background-repeat: no-repeat; background-size: cover;">
	<div class="container header-title">
		<div class="row">
	<div class="block-page-title">
	<h1>О компании</h1> 
	<p class="under-line"></p>
	<div class="breadcrumbs"><a href="" class="active">Главная</a> / <a href="">О компании</a></div>  
			</div></div>
	</div>
</section>
<section class="s-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="img/apple-straw-about.png" alt="">
			</div>
			<div class="col-sm-8"> 
			<p>Современный потребитель с каждым годом устанавливает новые требования  к качеству  продукции. Именно по этому мы задумались         о создании компании призванной удовлетворить самые разнообразные 
потребности покупателей. </p>
<p>Компания Фрутлайф (Торговая Марка AlmaFruit) основанная в 2014 году и на сегодняшний день зарекомендовала себя, как надежный партнер не только на территории Украины, но и далеко за ее пределами. Удовлетворения потребителя, процветание наших деловых партнеров, постоянное совершенствование – все это лежит в основе философии нашего бизнеса. AlmaFruit - это сплоченная команда профессионалов с богатым опытом и огромным потенциалом.</p> 
			</div>
		</div> 
	</div>
</section>
<section class="s-2">
	<div class="container">
		<div class="row">
			<h2 class="section-title">Работая с нами Вы получаете</h2>
			<p class="under-line"></p>
		</div>
		<div class="row">
			<div class="col-md-3 fruits-block">
				<div class="block-pic"><img src="img/orange.png" alt=""></div>
				<h3>Выгодные цены</h3>
				<p>Основанная в 2014г компания Альмафрут уже успела зарекомендовать себя как надежный партнер</p>
			</div>
			<div class="col-md-3 fruits-block">
				<div class="block-pic"><img src="img/grapefruit.png" alt=""></div>
				<h3>Тендер</h3>
				<p>Основанная в 2014г компания Альмафрут уже успела зарекомендовать себя как надежный партнер</p>
			</div>
			<div class="col-md-3 fruits-block">
				<div class="block-pic"><img src="img/lime.png" alt=""></div>
				<h3>Высокое качество</h3>
				<p>Основанная в 2014г компания Альмафрут уже успела зарекомендовать себя как надежный партнер</p>
			</div>
			<div class="col-md-3 fruits-block">
				<div class="block-pic"><img src="img/lemon.png" alt=""></div>
				<h3>Быстрая доставка</h3>
				<p>Основанная в 2014г компания Альмафрут уже успела зарекомендовать себя как надежный партнер</p>
			</div>
		</div>
	</div>
</section>
<section class="map-block-slide">
	<div class="container">
		<div class="row">
			<h2 class="section-title">География нашей деятельности</h2>
			<p class="under-line"></p>
		</div>
		<div class="row">
			<div class="map-slide">
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/ukraine.png" alt=""></div>
				<div class="country-title"><h3>Украина</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/azerbaigun.png" alt=""></div>
				<div class="country-title">
					<h3>Азербайджан</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/armenia.png" alt=""></div>
				<div class="country-title">
				<h3>Армения</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/belarus.png" alt=""></div>
				<div class="country-title">
				<h3>Белоруссия</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/geogria.png" alt=""></div>
				<div class="country-title">
				<h3>Грузия</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/bulgaria.png" alt=""></div>
				<div class="country-title">
				<h3>Болгария</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/chezh.png" alt=""></div>
				<div class="country-title">
				<h3>Чехия</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/estonia.png" alt=""></div>
				<div class="country-title">
				<h3>Эстония</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/finland.png" alt=""></div>
				<div class="country-title">
				<h3>Финляндия</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/greatbreatain.png" alt=""></div>
				<div class="country-title">
				<h3>Великобритания</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/kazahstan.png" alt=""></div>
				<div class="country-title">
				<h3>Казахстан</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/latvia.png" alt=""></div>
				<div class="country-title">
				<h3>Латвия</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/litva.png" alt=""></div>
				<div class="country-title">
				<h3>Литва</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/moldova.png" alt=""></div>
				<div class="country-title">
				<h3>Молдова</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/norway.png" alt=""></div>
				<div class="country-title">
				<h3>Норвегия</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/oae.png" alt=""></div>
				<div class="country-title">
				<h3>ОАЭ</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/romain.png" alt=""></div>
				<div class="country-title">
				<h3>Румыния</h3></div>
				</div>
				<div class="country-slide"> 
				<div class="logo-country"><img src="img/country/sweeden.png" alt=""></div>
				<div class="country-title">
					<h3>Швеция</h3></div>
				</div>
			</div>
		</div>
	</div>
</section> 
<section class="s-4">
	<div class="container">
		<div class="row">
			<h2 class="section-title">Наши партнеры</h2>
			<p class="under-line"></p>
		</div>
		<div class="row">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#home">Украина</a></li>
			  <li><a data-toggle="tab" href="#menu1">Страны дальнего и ближнего зарубежья</a></li> 
			</ul> 
			<div class="tab-content">
			  <div id="home" class="tab-pane fade in active">
			  	<div class="logo-slide-ukr">
			  		<div class="logo-block"><img src="img/logo/tavria.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/metro.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/atb.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/ashan.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/billa.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/brusnichla.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/varus.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/bigbucket.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/digma.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/class.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/tavria.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/metro.png" alt=""></div>
			  	</div>
			  </div>
			  <div id="menu1" class="tab-pane fade">
			  	<div class="logo-slide-other">
			  		<div class="logo-block"><img src="img/logo/bigbucket.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/digma.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/class.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/tavria.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/metro.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/tavria.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/metro.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/atb.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/ashan.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/billa.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/brusnichla.png" alt=""></div>
			  		<div class="logo-block"><img src="img/logo/varus.png" alt=""></div>
			  	</div>
			  </div> 
			</div>
		</div>
	</div>
</section> 
<section class="sertificare-block">
	<div class="container">
		<div class="row">
			<h2 class="section-title">Сертификаты и документы</h2>
			<p class="under-line"></p>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="sertificate"><img src="img/sertificate-1.png" alt=""></div>
			</div>
			<div class="col-md-3">
				<div class="sertificate"><img src="img/sertificate-4.png" alt=""></div>
			</div>
			<div class="col-md-3">
				<div class="sertificate"><img src="img/sertificate-2.png" alt=""></div>
			</div>
			<div class="col-md-3">
				<div class="sertificate"><img src="img/sertificate-3.png" alt=""></div>
			</div>
		</div>
	</div>
</section> 
<section class="video-block">	
	<div class="container">
		<div class="row">
			<h2 class="section-title">Видео о нас</h2>
			<p class="under-line"></p>
		</div>
		<div class="row wrapper youtube-slider">
			<div class="vids"><iframe  src="https://www.youtube.com/embed/bTtxjfwUnmw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
			<div class="vids"><iframe  src="https://www.youtube.com/embed/bTtxjfwUnmw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
			<div class="vids"><iframe  src="https://www.youtube.com/embed/bTtxjfwUnmw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
		</div>
	</div>
</section>
<section class="s-7">
	<div class="container">
		<div class="row text-center logos"> 
			<img src="img/logo.png" alt="">
			<p><span>Оптовая продажа овощей и фруктов</span></p>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="col-md-6 other">
					<h4>Для инострных клиентов</h4>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по продажам</p>
						<a href="tel:+380636679881">+38-063-667-98-81</a><span>Силах</span>
						<p>Скидки / Sillah Sadique</p>
						</div>
					</div>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по закупкам</p>
						<a href="tel:+380979142624">+38-097-914-26-24</a><span>Александр / Alex</span>
						<p>Скидки / Sillah Sadique</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 ukraine">
					<h4>Для клиентов по Украине</h4>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по продажам</p>
						<a href="tel:+380986547732">+38-098-654-77-32</a><span>Михаил</span> 
						</div>
					</div>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по закупкам</p>
						<a href="tel:+380671824682">+38-067-182-46-82</a><span>Ясин</span> 
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><button class="green-btn">Остались вопросы?</button></div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 menu-foot"> 
				<ul>
					<li><a href="">Главная</a></li>
					<li><a href="">О компании</a></li>
					<li><a href="">Каталог товаров</a></li>
					<li><a href="">Сотрудничество</a></li>
					<li><a href="">Галерея</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-md-offset-3 text-center">
				Разработано<br/>
				<a href=""><div class="icos-sprite-logo-enlight"></div></a>
			</div>
		</div>
	</div>
</footer>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
	 <script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>  
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/utils.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/jquery.equalheights@1.5.3/jquery.equalheights.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.min.js"></script> 
	<script src="js/common.js"></script>
    	<script type="text/javascript">function setbtn(obj) {
    var id=obj.title;
		 $('.popup-shower').val("" + id);
    }
	</script>

</body>
</html>