<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>  
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content=" " />
	<meta name="keywords"  content=" " />
	<meta name="Resource-type" content="Document" />
	<link rel="icon" type="image/png" sizes="64x64" href="img/favico.png">
	<meta property="og:title" content=" " /> 
	<meta property="og:url" content="" />
	<meta property="og:image" content="img/ogg.jpg" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body class="archive">
<header>
	<nav >
		<div class="container">
			<div id="menu" class=" default container"> 
			<div class="container fixd">
				<div class="row">
				<div class="col-sm-2 col-xs-4 menu-block">
					<div class="menu-btn">
					<div class="menu-ico"></div>
					МЕНЮ</div>
				</div>
				<div class="col-sm-8 col-xs-4 text-center">
					<div class="logo"></div>
					<p class="logos-text">Оптовая продажа овощей и фруктов</p>
				</div>
				<div class="col-sm-2 col-xs-4 language-block">
					<div class="icos-sprite-flag-ru"></div> RU
				</div>
				</div>
			<div class="menu-row row">
			<div class="container ">
				<ul class="main-menu">
					<li><a href="index.html">Главная</a></li>
					<li><a href="about.html">О компании</a></li>
					<li><a href="catalog.html">Каталог товаров</a></li>
					<li><a href="sotrud.html">Сотрудничество</a></li>
					<li><a href="gallery.html">Галерея</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
			</div>
			</div> 
			</div>
			</div>
		</div>
	</nav>
</header>
<section class="s-header" style="background-image: url(img/cart-header-bg.png); background-repeat: no-repeat; background-size: cover;">
	<div class="container header-title">
		<div class="row">
	<div class="block-page-title">
	<h1>Ягоды</h1>
	<p class="block-page-ubder-title">Получите специальные условия при заказе партии</p>
	<p class="under-line"></p>
	<div class="breadcrumbs"><a href="" class="active">Главная</a> / <a href="">Ягоды</a></div> 
	<button class="green-btn">ПОЛУЧИТЬ СПЕЦИАЛЬНЫЕ УСЛОВИЯ</button>
			</div></div>
	</div>
</section> 
<section class="product-block">
	<div class="container">
		<div class="product-info-row">
		<div class="row">
			<div class="col-md-2"><div class="product-img-block"><img src="img/cart-item-picture.png" alt=""></div></div>
			<div class="col-md-7">
				<div class="row product-info-title">
			<h4 class="section-title">Сорт Чиф Рэд</h4>
			<p class="under-line"></p></div>
			<div class="row product-info-block">
				<ul class="product-info-list">
					<li><i class="fas fa-check"></i>Сезонность: целый год</li>
					<li><i class="fas fa-check"></i>Калибр: 12456</li>
					<li><i class="fas fa-check"></i>Упаковка: 60х120х50</li>
					<li><i class="fas fa-check"></i>Цена 60 грн / 1кг</li>
				</ul>
			</div>
			</div>
			<div class="col-md-3 product-buttons">
				<button class="green-btn">Заказать</button>
				<button class="trans-btn spoiler-button">Полезная информация<i class="fas fa-chevron-down"></i></button>
			</div>
		</div>
		<div class="row product-spoiler-info-row">
			<div class="product-spoiler-info">Плоды этого сорта достаточно крупные и могут достигать в весе до 2000 грамм. Что касается формы, то яблоки Ред Чиф имеют круглую, но при этом слегка синусоидальную форму. Зрелые плоды окрашены в темно-красный цвет и покрыты они желтыми точками. Под прочной глянцевой кожурой находится плотная, сочная мякоть кремового цвета. Зрелые яблоки Ред Чиф имеют сладкий вкус с легкой кислинкой.</div></div>
		</div>
		<div class="product-info-row">
		<div class="row">
			<div class="col-md-2"><div class="product-img-block"><img src="img/cart-item-picture.png" alt=""></div></div>
			<div class="col-md-7">
				<div class="row product-info-title">
			<h4 class="section-title">Сорт Чиф Рэд</h4>
			<p class="under-line"></p></div>
			<div class="row product-info-block">
				<ul class="product-info-list">
					<li><i class="fas fa-check"></i>Сезонность: целый год</li>
					<li><i class="fas fa-check"></i>Калибр: 12456</li>
					<li><i class="fas fa-check"></i>Упаковка: 60х120х50</li>
					<li><i class="fas fa-check"></i>Цена 60 грн / 1кг</li>
				</ul>
			</div>
			</div>
			<div class="col-md-3 product-buttons">
				<button class="green-btn">Заказать</button>
				<button class="trans-btn spoiler-button">Полезная информация<i class="fas fa-chevron-down"></i></button>
			</div>
		</div>
		<div class="row product-spoiler-info-row">
			<div class="product-spoiler-info">Плоды этого сорта достаточно крупные и могут достигать в весе до 2000 грамм. Что касается формы, то яблоки Ред Чиф имеют круглую, но при этом слегка синусоидальную форму. Зрелые плоды окрашены в темно-красный цвет и покрыты они желтыми точками. Под прочной глянцевой кожурой находится плотная, сочная мякоть кремового цвета. Зрелые яблоки Ред Чиф имеют сладкий вкус с легкой кислинкой.</div></div>
		</div>
		<div class="product-info-row">
		<div class="row">
			<div class="col-md-2"><div class="product-img-block"><img src="img/cart-item-picture.png" alt=""></div></div>
			<div class="col-md-7">
				<div class="row product-info-title">
			<h4 class="section-title">Сорт Чиф Рэд</h4>
			<p class="under-line"></p></div>
			<div class="row product-info-block">
				<ul class="product-info-list">
					<li><i class="fas fa-check"></i>Сезонность: целый год</li>
					<li><i class="fas fa-check"></i>Калибр: 12456</li>
					<li><i class="fas fa-check"></i>Упаковка: 60х120х50</li>
					<li><i class="fas fa-check"></i>Цена 60 грн / 1кг</li>
				</ul>
			</div>
			</div>
			<div class="col-md-3 product-buttons">
				<button class="green-btn">Заказать</button>
				<button class="trans-btn spoiler-button">Полезная информация<i class="fas fa-chevron-down"></i></button>
			</div>
		</div>
		<div class="row product-spoiler-info-row">
			<div class="product-spoiler-info">Плоды этого сорта достаточно крупные и могут достигать в весе до 2000 грамм. Что касается формы, то яблоки Ред Чиф имеют круглую, но при этом слегка синусоидальную форму. Зрелые плоды окрашены в темно-красный цвет и покрыты они желтыми точками. Под прочной глянцевой кожурой находится плотная, сочная мякоть кремового цвета. Зрелые яблоки Ред Чиф имеют сладкий вкус с легкой кислинкой.</div></div>
		</div>
	</div>	 
<div class="container-fluid s-5">
	<div class="container">
		<div class="row">
			<h2 class="section-title">Хотите стать нашим клиентом <span>или предложить сотрудничество?</span></h2>
			<p class="under-line"></p>
		</div>
		<div class="row">
			<h3>Заполните форму и мы с вами свяжемся!</h3>
			<div class="form-block">
				<form action="">
					<div class="row">
					<input type="name" placeholder="Ваше имя" required="required">
					<input type="tel" required="required"><span id="valid-msg" class="hide">✓ Валидный</span>
<span id="error-msg" class="hide">Не валидный</span>
					<input type="email" placeholder="E-mail" required="required">
					<input type="header" placeholder="Тема письма">
					</div>
					<div class="row">
						<textarea name="" id="" cols="30" rows="8" placeholder="Текст сообщения"></textarea>
					</div>
					<div class="attach"><i class="fas fa-paperclip"></i>Прикрепить файл</div>
					<div class="row text-center">
						<button class="green-btn">Отправить заявку</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> 
</section>
<section class="s-7">
	<div class="container">
		<div class="row text-center logos"> 
			<img src="img/logo.png" alt="">
			<p><span>Оптовая продажа овощей и фруктов</span></p>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="col-md-6 other">
					<h4>Для инострных клиентов</h4>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по продажам</p>
						<a href="tel:+380636679881">+38-063-667-98-81</a><span>Силах</span>
						<p>Скидки / Sillah Sadique</p>
						</div>
					</div>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по закупкам</p>
						<a href="tel:+380979142624">+38-097-914-26-24</a><span>Александр / Alex</span>
						<p>Скидки / Sillah Sadique</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 ukraine">
					<h4>Для клиентов по Украине</h4>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по продажам</p>
						<a href="tel:+380986547732">+38-098-654-77-32</a><span>Михаил</span> 
						</div>
					</div>
					<div class="row user-contact">
						<div class="col-xs-2"><div class="icos-sprite-avatar"></div></div>
						<div class="col-xs-10"><div class="phone-ico"></div><p>Менеджер по закупкам</p>
						<a href="tel:+380671824682">+38-067-182-46-82</a><span>Ясин</span> 
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><button class="green-btn">Остались вопросы?</button></div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 menu-foot"> 
				<ul>
					<li><a href="">Главная</a></li>
					<li><a href="">О компании</a></li>
					<li><a href="">Каталог товаров</a></li>
					<li><a href="">Сотрудничество</a></li>
					<li><a href="">Галерея</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-md-offset-3 text-center">
				Разработано<br/>
				<a href=""><div class="icos-sprite-logo-enlight"></div></a>
			</div>
		</div>
	</div>
</footer>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
	 <script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>  
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/jquery.equalheights@1.5.3/jquery.equalheights.min.js"></script>
	<script src="js/common.js"></script>
    <script type="text/javascript">function setbtn(obj) {
    var id=obj.title;
		 $('.popup-shower').val("" + id);
    }
	</script>

</body>
</html>