Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.kvorum\.mk\.ua
RewriteRule ^(.*)$ http://kvorum.mk.ua/$1 [R=permanent,L] .  
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.kvorum\.mk\.ua\opt-sotrudnichestvo-ukr\.html
RewriteRule ^(.*)$ http://kvorum.mk.ua/opt-sotrudnichestvo-ukr.html/$1 [R=permanent,L] .  
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.kvorum\.mk\.ua\roznica-seti-azs\.html
RewriteRule ^(.*)$ http://kvorum.mk.ua/roznica-seti-azs.html/$1 [R=permanent,L] .  
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.kvorum\.mk\.ua\roznica-seti-azs-ukr\.html
RewriteRule ^(.*)$ http://kvorum.mk.ua/roznica-seti-azs-ukr.html/$1 [R=permanent,L] . 
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.kvorum\.mk\.ua\index\.html
RewriteRule ^(.*)$ http://kvorum.mk.ua/$1 [R=permanent,L] .    
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]