@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-SemiBold.eot);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-SemiBold.woff);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-SemiBold.ttf); }

@font-face {
  font-family: 'Gilroy-Regular';
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Regular.eot);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Regular.woff);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Regular.ttf); }

@font-face {
  font-family: 'Gilroy-Light';
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Light.eot);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Light.woff);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Light.ttf); }

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Medium.eot);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Medium.woff);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Medium.ttf); }

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Bold.eot);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Bold.woff);
  src: url(//www.av-tool.ru/_antenny_assets_DO_NOT_DELETE/font/Gilroy-Bold.ttf); }