<div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/MidnightBlue.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Midnight Blue</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/Mint.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Mint</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/Orange.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Orange</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/Pink.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Pink</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/Pollen.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Pollen</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/Red.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Red</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/RoyalBlue.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Royal Blue</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/Stone.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Stone</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/Turquoise.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ Turquoise</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 cart-panel">
                                <div class="cart">
                                    <div class="vidg"></div>
                                    <div class="img"><img src="img/products/cheh5-6/White.jpg" class="img-responsive" alt=""></div>
                                    <h4>Чехол Apple Silicone Case для <span>iPhone 5/5s/SE/6/6s/6+ White</span></h4>
                                    <p class="old-price">Старая цена: <strike>450 грн</strike></p>
                                    <p class="newprice">Цена сегодня: <strong>289 грн</strong></p>
                                    <div class="butts">
                                        <button data-toggle="modal" class="more">Подробнее</button><button  data-toggle="modal" data-target="#myModal-cheh"  class="yel">Купить</button>
                                    </div>
                                </div>
                            </div>