
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content"> 
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      	<div class="row">
      		<div class="preview col-md-8"> 
			<div class="">
				<div id="modal-gallery-1" class="modal-gallery active">
										<div class="col-md-3">
										 <div class="slick-product-nav-popup">
										 	<img src="img/product-pic-2.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-3.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-1.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-4.png" alt="" class="img-responsive">
										 </div></div>
										 <div class="col-md-9">
										 <div class="slick-product-popup">
										 		<div class="slick-product-picture">
										 			<img src="img/product-pic-3.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-1.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-2.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-4.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div> 
										 </div>
										</div>
									</div>
				<div id="modal-gallery-2" class="modal-gallery">
										<div class="col-md-3">
										 <div class="slick-product-nav-popup">
										 	<img src="img/product-pic-4.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-1.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-3.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-2.png" alt="" class="img-responsive">
										 </div>
										</div>
										 <div class="col-md-9">
										 <div class="slick-product-popup">
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-4.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-1.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-2.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-4.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div> 
										 </div>
										</div>
										</div>
				<div id="modal-gallery-3" class="modal-gallery">
										<div class="col-md-3">
										 <div class="slick-product-nav-popup">
										 	<img src="img/product-pic-4.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-2.png" alt="" class="img-responsive">
										 </div>
										</div>
										 <div class="col-md-9">
										 <div class="slick-product-popup">
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-3.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-1.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-2.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-4.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div> 
										 </div>
										</div>
									</div>
				<div id="modal-gallery-4" class="modal-gallery">
										<div class="col-md-3">
										 <div class="slick-product-nav-popup">
										 	<img src="img/product-pic-4.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-1.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-3.png" alt="" class="img-responsive">
										 </div>
										</div>
										 <div class="col-md-9">
										 <div class="slick-product-popup">
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-3.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-1.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-2.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-4.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div> 
										 </div>
										</div>
									</div>
				<div id="modal-gallery-5" class="modal-gallery">
										<div class="col-md-3">
										 <div class="slick-product-nav-popup">
										 	<img src="img/product-pic-3.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-2.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-4.png" alt="" class="img-responsive">
										 	<img src="img/product-pic-1.png" alt="" class="img-responsive">
										 </div></div>
										 <div class="col-md-9">
										 <div class="slick-product-popup">
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-4.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div> 
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-3.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-1.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 		<div class="slick-product-picture">
										 			<img src="img/catalog-pic-2.png" alt="">
										 			<div class="slick-product-link"> 
										 			</div>
										 		</div>
										 </div>
										</div>
										</div>
			</div>	
			</div>
			<div class="details col-md-4">
				<h2 class="product-title">Сарафан «Креола» A1</h2>		
    	        <div class="product-price"><strong>Цена:</strong> 1680 ГРН   <span class="col-gray">840 ГРН / Опт</span></div>
    	        <div class="product-color"><strong>Цвет: </strong>мятный</div>
    	        <div class="appears"><strong>Состав: </strong>органза</div>
    	        <div class="sizers"><strong>Размеры:</strong> 	        	        	
				<input type="checkbox" id="myCheckbox1" />
				<label for="myCheckbox1" class="myCheck"><span class="checkboxText">42-44 (M)</span></label>
				<input type="checkbox" id="myCheckbox2" />
				<label for="myCheckbox2" class="myCheck"><span class="checkboxText">46-48 (L)</span></label>
				<input type="checkbox" id="myCheckbox3" />
				<label for="myCheckbox3" class="myCheck"><span class="checkboxText">50-52 (XL)</span></label> 
				</div>
				<p class="model-size col-gray">Рост модели на фото 170 см</p> 	
    	        <div class="spinner-block"> <strong>Количество:</strong> 
					  <div class="input-group spinner ">
				    <div class="input-group-btn-vertical">
				      <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button> 
				    </div>
				    <input type="text" class="form-control spin-input" value="3" readonly />
				    <div class="input-group-btn-vertical">
				      <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
				  </div>
				</div>
				</div>
				<div class="buttons-product align-center">
					<button class="black-btn">В корзину</button>
					<form  class="one-click-buy-form">
					<div>
					<input type="text" placeholder="Ваш телефон" name="one-click-buy-phone">
					<input type="text" placeholder="Ваше имя" name="one-click-buy-name">
					</div>
					<button id="one-click-buy" class="gold-btn one-click-buy" type="submit">
					Купить в один клик
					</button>
					</form>
				</div> 
				<ul class="slick-product-modal-gallery"> 
				    <li>
				    	<a href="#modal-gallery-1" class="active">
				    		<img src="img/product-pic-1.png" alt="" class="img-responsive"></a></li>
				    <li>
				    	<a href="#modal-gallery-2">
				    		<img src="img/product-pic-3.png" alt="" class="img-responsive"></a></li>
				    <li>
				    	<a href="#modal-gallery-3">
				    		<img src="img/product-pic-2.png" alt="" class="img-responsive"></a></li>
				    <li>
				    	<a href="#modal-gallery-4">
				    		<img src="img/product-pic-4.png" alt="" class="img-responsive"></a></li>
				    <li>
				    	<a href="#modal-gallery-5">
				    		<img src="img/product-pic-3.png" alt="" class="img-responsive"></a></li>
				</ul> 
 
			</div>
      	</div>
      </div>
      <div class="modal-footer">  
  </div>
  </div>
  </div>