<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Продажа жаток и масла. Только оригинальная продукция!
Официальный дилер в Украине завода OPTIGER.</title>  
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="Продажа жаток и масла. Только оригинальная продукция!
Официальный дилер в Украине завода OPTIGER." />
	<meta name="keywords"  content="Продажа жаток и масла. Только оригинальная продукция!
Официальный дилер в Украине завода OPTIGER." />
	<meta name="Resource-type" content="Document" />
	<link rel="icon" type="image/png" sizes="64x64" href="img/favicon.png">
	<meta property="og:title" content="Продажа жаток и масла. Только оригинальная продукция!
Официальный дилер в Украине завода OPTIGER." /> 
	<meta property="og:url" content="" />
	<meta property="og:image" content="img/ogg.jpg" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"> 
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
<div id="myNav" class="overlay">
  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <!-- Overlay content -->
  <div class="overlay-content" id="menu-link">
    <a href="#s-1" onclick="closeNav()">Компания</a>
    <a href="#s-2" onclick="closeNav()">Каталог</a>
    <a href="#otz" onclick="closeNav()">Отзывы</a>
    <a href="#" onclick="closeNav()">Контакты</a>
  </div>
</div>
<header>
<nav id="menu" class="navbar container-fluid default">
  <div class="container"> 
    <div class="navbar-header" >
    <div class="col-md-2 logo">
      <a class="" href="#">ТОВ  <span>АВГУСТИН</span></a>
      <p class="logo-under">Дилер завода OPTIGER</p></div>
    <div class="col-md-4">
      <div class="descriptor">Продажа жаток и масла. Только оригинальная продукция!
Официальный дилер в Украине завода OPTIGER.</div></div>
    <div class="col-md-4 col-md-offset-2 navigate">
		<span class="openavig" onclick="openNav()"><i class="fas fa-bars"></i></span>
		<div class="conacts">
			<div class="ico"><i class="fas fa-mobile-alt"></i></div>
			<div class="phones">
				<a href="">(095) 946-91-53</a>
				<a href="">(098) 707-55-26</a>
			</div>
		</div>
		<button class=" yellow-btn" type="button"  data-toggle="modal" data-target="#myModal" onclick="setbtn(this);"  title="Заказать звонок">Заказать звонок</button>
		</div>
    </div>
  </div>
</nav>
</header> 
<section id="s-1" class="s-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 contents">
			<h1><span class="red">Продажа жаток OptiSun, OptiCorn</span> в Украине для уборки подсолнечника и кукурузы напрямую от производителя</h1>
			<div class="blockquote"><blockquote >
			  <p>СДЕЛАЙТЕ ВАШУ СЕЛЬСКОХОЗЯЙСТВЕННУ ТЕХНИКУ НА 30% МОЩНЕЕ. Экономия топлива через повышение производительности тракторов и сельхоз-техники</p>
			</blockquote></div>
			<p><strong>Оставьте заявку на Жатку OptiSun или OptiCorn прямо сейчас<br/> и получите  прайс <span class="red">с учетом скидки до 25%</span></strong></p>
			<div class="form">
				<form  action="../zhatki/thanks.php" method="post">
					<div class="row-input">
					<input type="text" name="name" placeholder="ВАШЕ ИМЯ" required="required">
					<input type="text" name="tel" placeholder="ВАШ ТЕЛЕФОН" required="required"></div>
					<button class="green-btn" onclick="setbtn(this);"  title="ПОЛУЧИТЬ ПРАЙС С УЧЕТОМ СКИДКИ">ПОЛУЧИТЬ ПРАЙС С УЧЕТОМ СКИДКИ</button>
				</form>
			</div>
		</div> 
		</div>
		<div class="col-sm-5 img-big">
	<img src="img/s-1-pic.png" alt="" class=""></div>
	</div>
</section>
<section id="s-2" class="s-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 infocol">
				<div class="icos-sprite-tag"></div>
				<p>Минимальная потеря зерна: 0,3-0,5%</p>
			</div>
			<div class="col-sm-3 infocol">
				<div class="icos-sprite-speed"></div>
				<p>Высокая производительность. Рабочая скорость: 6–13 км/час</p>
			</div>
			<div class="col-sm-3 infocol">
				<div class="icos-sprite-gear"></div>
				<p>Высокая производительность. Рабочая скорость: 6–13 км/час</p>
			</div>
			<div class="col-sm-3 infocol">
				<div class="icos-sprite-search"></div>
				<p>Расширенная гарантия 2 года Сервисное обслуживание</p>
			</div>
		</div>
	</div>
</section>
<section class="s-3">
	<div class="container">
		<div class="row"> 
			<div class="col-md-3 nav-cont"><h4>ЖАТКИ ПОДХОДЯТ ДЛЯ СПЕЦТЕХНИКИ:</h4>
				<div class="next"><i class="fas fa-long-arrow-alt-left"></i></div>
				<div class="prev"><i class="fas fa-long-arrow-alt-right"></i></div></div>
			<div class="logo-caruosel col-md-9">
				<div class="logo-1"><div class="icos-sprite-logoclaas-logo"></div></div>
				<div class="logo-2"><div class="icos-sprite-logojonh-dear"></div></div>
				<div class="logo-3"><div class="icos-sprite-logocase-logo"></div></div>
				<div class="logo-4"><div class="icos-sprite-logonew-holland"></div></div>
				<div class="logo-5"><div class="icos-sprite-logojonh-dear"></div></div>
			</div> 
		</div>
<hr>
	</div>
</section>
<section class="s-4">
	<div class="container">
		<div class="row">
			<h2 class="title-section">ПРЕИМУЩЕСТВА ИСПОЛЬЗОВАНИЯ ЖАТОК OPTISUN И OPTICORN:</h2>
			<p class="descr-section">Минимальные потери зерна при сборе и переработке - составляют всего лишь 0,3-0,5%</p>
		</div>
		<div class="row zhatka">
			<div class="col-md-3 text-inf">
				<div class="col-sm-8 col-sm-offset-4"><strong>1. Жатка позволяет качественно собрать</strong> урожай и измельчить пожнивные остатки за один проход</div>
				<div class="col-sm-10 col-sm-offset-2"><strong>2. Каждый ряд оснащен</strong> предохранительной муфтой от перегрузок для защиты редукторов и цепей</div>
				<div class="col-sm-8 col-sm-offset-4"><strong>3. Благодаря оригинальному</strong> механизму подачи урожая жатка не забивается на высоких скоростях и в сырую погоду</div>
			</div>
			<div class="col-md-6"><img src="img/s-2-bg.png" alt="" class="img-responsive"></div>
			<div class="col-md-3 text-inf">
				<div class="col-sm-10"><strong>4. Выбирайте комплектацию</strong> премиум с нержавеющей стали - срок експлуатации не ограничен</div>
				<div class="col-sm-8 col-sm-offset-4"><strong>5. Обладают высокоэффективными</strong> ножами для измельчения стеблей за один проход и можно обрабатывать землю</div>
				<div class="col-sm-10 ups"><strong>6. Жатки OptiSun 16 рядов</strong> за сезон собирает 2000 га подсолнуха, при урожайности 40 ц.</div></div>
		</div>
	</div>
</section>
<section class="s-5">
	<div class="container">
		<div class="row zhatka">
			<div class="col-md-3 text-inf">
				<div class="col-sm-8 col-sm-offset-4"><strong>1. Жатка позволяет качественно собрать</strong> урожай и измельчить пожнивные остатки за один проход</div>
				<div class="col-sm-10 col-sm-offset-2"><strong>2. Каждый ряд оснащен</strong> предохранительной муфтой от перегрузок для защиты редукторов и цепей</div>
				<div class="col-sm-8 col-sm-offset-4"><strong>3. Благодаря оригинальному</strong> механизму подачи урожая жатка не забивается на высоких скоростях и в сырую погоду</div>
			</div>
			<div class="col-md-6"><img src="img/s-3-bg.png" alt="" class="img-responsive"></div>
			<div class="col-md-3 text-inf">
				<div class="col-sm-10"><strong>4. Выбирайте комплектацию</strong> премиум с нержавеющей стали - срок експлуатации не ограничен</div>
				<div class="col-sm-8 col-sm-offset-4"><strong>5. Обладают высокоэффективными</strong> ножами для измельчения стеблей за один проход, можно пахать землю</div>
				<div class="col-sm-10"><strong>6. Имеют надежные</strong> редуктора на все узлы</div></div>
		</div>
	</div>
</section>
<section class="s-6">
	<div class="container">
		<div class="row">
			<h2 class="title-section">Экономия до 20%</h2> 
		</div>
		<div class="row letter">
		<p><span class="red"><strong>Жатки OptiSun 16 рядов за сезон собирают 2000 га</strong> подсолнуха, при урожайности 40 ц.</span> Если собирать приспособлениями других производителей теряете <strong>10% - 4 ц. на 2000 га, что выходит 800 т.</strong>
		<strong>При предполагаемой цене на подсолнух 11 000 грн, Вы получите дополнительного заработка 8 800 000 грн. с жаткой OptiSun.</strong> 
		Жатка стоимостью 252 000 евро ОКУПАЕТСЯ ЗА СЕЗОН 7 РАЗ!
		Далее стоит заметить и экономию по расходам на обслуживание, ГСМ за счет экономии мощности двигателя.</p>
			<div class="blockquote">
				<blockquote><h3>Вывод очевиден:</h3> с жатками OPTISUN И OPTICORN  сельхозтехника получает гораздо большую мощность. Благодаря этому обеспечивается высокая производительность наряду с уменьшением расхода топлива.</blockquote>
			</div>
			<button class="yellow-btn" type="button"  data-toggle="modal" data-target="#myModal" onclick="setbtn(this);"  title="ПОЛУЧИТЬ ПРАЙС С УЧЕТОМ СКИДКИ">ПОЛУЧИТЬ ПРАЙС С УЧЕТОМ СКИДКИ</button>
		</div>
	</div>  
</section> 
<section class="s-10"> 
	<div class="container">
		<div class="row">
			<h2 class="title-section">ПОЧЕМУ КЛИЕНТЫ ВЫБИРАЮТ НАС</h2> 
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3>Как работают другие компании, которые занимаются продажей жаток:</h3>
				<ul>
					<li><i class="close"></i>
					Осуществляют деятельность путем посредничества – не могут точно подтвердить оригинальность продукции и завышают цены. Есть вероятность того, что после покупки жатки она поломается практически мгновенно
					</li>
					<li><i class="close"></i>
					Гарантия не более 1 года или ее полное отсутствие. Если клиент обнаружит повреждение или неисправность жатки, никто не примет товар обратно и не вернет потраченные деньги
					</li>
					<li><i class="close"></i>
					Возможность технического обслуживания при возникновении неполадок отсутствует. В таком случае компания не сможет помочь клиенту
					</li>
					<li><i class="close"></i>
					Продаваемые запчасти могут оказаться подделкой. Клиент получить деталь, которая быстро износится и потратит больше денег, чем при покупке оригинальной запчасти
					</li>
					<li><i class="close"></i>
					Реализуют плохого качества масла для ухода за механизмом. Если смазывать механизм жатки некачественными маслами, он поломается достаточно быстро
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3>Как работаем мы:</h3>
				<ul>
					<li><i class="checka"></i>
					Сотрудничаем напрямую с венгерским производителем «Оптигейп» и являемся его официальным представителем в Украине, что позволяет контролировать качество товаров и продавать их по лояльной цене
					</li>
					<li><i class="checka"></i>
					Осуществляем техническое обслуживание жаток. В случае возникновения проблем, предоставляем подробную консультацию и помощь клиенту. При необходимости к клиенту осуществляется выезд квалифицированного специалиста, который помогает оперативно решить возникшую проблему
					</li>
					<li><i class="checka"></i>
					Даем гарантию на эксплуатацию жаток сроком в 2 года. Вся продукция сертифицирована и имеет гарантию качества!
					</li>
					<li><i class="checka"></i>
					Реализуем оригинальные запчасти для жаток производителя OPTIGEP
					</li>
					<li><i class="checka"></i>
					Продаем высококачественные масла для ухода за жатками, которые не вредят механизму конструкции
					</li>
				</ul>
			</div>
		</div>
		<div class="row text-center"><button class="green-btn" type="button"  data-toggle="modal" data-target="#myModal" onclick="setbtn(this);"  title="Начать сотрудничество">Начать сотрудничество</button></div>
	</div>
</section> 
<section class="s-12"> 
	<div class="container">
		<div class="row">
			<h2 class="title-section">АВГУСТИН - лидер по поставке высококачественных жаток, запасных частей и масел для сельхозтехники в Украине</h2>
			<p class="descr-section">Официальный представитель OPTIGEP и Atlantic Grease в Украине, что гарантирует поставку только оригинальной продукции.</p>
		</div>
		<div class="row">
		<div class="col-sm-5 ">
			<div class="pic-bg"></div>
		</div>
		<div class="col-sm-7 inf">
			<p><strong>Компания Августин</strong> - официальный представитель венгерского производителя сельскохозяйственной техники OPTIGEP и эксклюзивный представитель высококачественных масел Atlantic Grease в Украине. Жатки OPTIGEP используются для эффективного сбора урожая подсолнечника и кукурузы с минимальными потерями. Конструкция жаток универсальна, поэтому подходит для всех комбайнов, вне зависимости от модели.</p>
			<p><strong>Продукция OPTIGEР и Atlantic Grease</strong> занимает 99% сегмента мирового рынка сельскохозяйственной продукции. Качество, эффективность и надежность продукции оценили венгерские, американские и европейские предприниматели. В Украине эта техника набирает все большей популярности.</p>
			<p><strong>Помимо продажи жаток и масел</strong> компания Августин оказывает своим клиентам помощь с обслуживанием техники и предоставляет только оригинальные запчасти для жаток от производителя.</p>
		</div>
	</div>
</section>
<section class="s-13 hidden-xs">
	<div class="container">
		<div class="row">
			<h2 class="title-section">ДАЁМ ГАРАНТИИ И ПРОПИСЫВАЕМ ИХ В ДОГОВОРЕ</h2>
			<p class="descr-section">Уже более 15 лет существования компании мы работаем над своей репутацией. Поэтому все наши клиенты видят в нас только надёжного и ответственного поставщика высококачественной продукции для сельхозтехники. Компания АВГУСТИН исполняет все свои гарантийные обязательства, и не боимся прописывать их в договоре.</p>
		</div>
		<div class="row">
			<div class="col-sm-3 text-center cols">
				<div class="icos-sprite-medal"></div>
				<p>Даём гарантию
на оборудование 2 года</p>
			</div>
			<div class="col-sm-3 text-center cols">
				<div class="icos-sprite-shipped"></div>
				<p>Доставим жатку
в течении 5-7 рабочих дней</p>
			</div>
			<div class="col-sm-3 text-center cols">
				<div class="icos-sprite-refund"></div>
				<p>Вы можете вернуть продукцию  в течении 14 дней со дня покупки</p>
			</div>
			<div class="col-sm-3 text-center cols">
				<div class="icos-sprite-24-hours"></div>
				<p>Бесплатная техническая поддержка</p>
			</div>
		</div>
		<div class="row text-center"><button class="yellow-btn" type="button"  data-toggle="modal" data-target="#myModal-template" onclick="setbtn(this);"  title="ПОЛУЧИТЬ ШАБЛОН ДОГОВОРА НА ПОЧТУ">ПОЛУЧИТЬ ШАБЛОН ДОГОВОРА НА ПОЧТУ</button></div>
	</div>
</section>
<section class="s-14">
    <div class="panel panel-primary ">
        <div class="panel-heading clickable"> 
    		<h2 class="title-section">Производство жаток "OPTIGEP" в Венгрии<i class="fas fa-chevron-down"></i></h2>
    	</div>    	
    	<div class="panel-body">
	<div class="container-fluid ">
		<div class="row">
			<h2 class="title-section">Производство жаток "OPTIGEP" в Венгрии</h2> 
		</div>
		<div class="pic"><div class="container "><div class="bg-pic"></div></div></div>
		<div class="container"><div class="row">
			<p class="descr-section"><strong>Представленные модели жаток </strong>- это инновационная разработка венгерской компании сельскохозяйственной техники OPTIGEP. Продукция этого производителя пользуется огромным спросом во всех европейских странах. Доказательством служит статистика: 99% товаров этого сегмента рынка производит OPTIGEP. Благодаря высокой надежности, качеству и эффективности работы жаток компания стала лидером в производстве сельскохозяйственной техники.</p>
			<p class="descr-section spoiler-body">
Для облегчения процесса сбора урожая и усовершенствования продукции , компания OPTIGEP разработала инновационные технологии и запатентовала их. В основу эффективности товаров производства компании OPTIGEP легли эксперименты научно-исследовательского института FVMMI GM Kht. В ходе сотрудничества была разработана уникальная модель жатки типа PSM, которая дробит стебли подсолнечника. Модель была представлена на международной выставке сельскохозяйственной техники AGROSALON в Словакии, где компания OPTIGEP получила диплом за разработку новой уникальной технологии.<br/><br/>
Компания удостоилась огромного количества наград, сертификатов и грамот. Все это подтверждает качество жаток, их простоту в использовании и высокую результативность работы.</p>
<button class="yellow-btn spoiler-btn">Подробнее</button> 
		</div>
	</div>
	</div>
	</div>
	</div> 
</section> 
<section class="s-16">
    <div class="panel panel-primary ">
        <div class="panel-heading clickable"> 
    		<h2 class="title-section">Схема сотрудничества<i class="fas fa-chevron-down"></i></h2>
    	</div>    	
    	<div class="panel-body">
	<div class="container">
		<div class="row">
			<h2 class="title-section">Схема сотруднечества</h2> 
		</div>
		<div class="row"><div class="colsv">
<div class="icos-sprite-information-service"></div>
			<h3>1. Связь с нами</h3>
			<p>Вы звоните нам или оставляете
заявку на сайте</p>
		</div>
		<div class="colsv">
<div class="icos-sprite-customer-service"></div>
			<h3>2. Консультация</h3>
			<p>Мы связываемся с Вами и отвечаем на вопросы</p>
		</div>
		<div class="colsv">
<div class="icos-sprite-listing"></div>
			<h3>3. Договор</h3>
			<p>Заключение договора и выставление счёта. Обсуждение этапов и удобного способа оплаты</p>
		</div>
		<div class="colsv">
<div class="icos-sprite-recommended"></div>
			<h3>4. Поддержка</h3>
			<p>Бесплатная поддержка клиентов</p>
		</div>
		<div class="colsv">
<div class="icos-sprite-shipped"></div>
			<h3>5. Доставка</h3>
			<p>Мы доставляем жатки
напрямую с завода производителя "OPTIGER"</p>
		</div></div> 
		<div class="row text-center"><button class="yellow-btn" type="button"  data-toggle="modal" data-target="#myModal" onclick="setbtn(this);"  title="ОСТАВИТЬ ЗАЯВКУ">ОСТАВИТЬ ЗАЯВКУ</button></div>
	</div>
</div>
</div>
</section>
<section id="otz" class="s-17">
    <div class="panel panel-primary ">
        <div class="panel-heading clickable"> 
    		<h2 class="title-section">РЕАЛЬНЫЕ ОТЗЫВЫ ОТ НАШИХ КЛИЕНТОВ<i class="fas fa-chevron-down"></i></h2>
    	</div>    	
    	<div class="panel-body">
	<div class="container">
		<div class="row">
			<h2 class="title-section">РЕАЛЬНЫЕ ОТЗЫВЫ ОТ НАШИХ КЛИЕНТОВ</h2>
			<p class="descr-section">Более 1000 довольных клиентов за 15 лет на рынке</p> 
		</div>
		<div class="row ">
			<div class="col-sm-4">
				<div class="otz-card">
					<div class="img-otz" style="background: url(img/s-17-otz-1.png);	background-size: cover; background-position: center top; background-repeat: no-repeat;"></div>
					<h3>ЧП  "АГРАРИЙ-2007",
Руководитель Косар Ольга Сергеевна</h3>
					<p>В прошлом году убирали подсолнух в регионе, были приятно удивлены от производительности и качества уборки. За один сезон ощутили значительную экономию по расходам на топливо и обслуживание.</p>
<span href="" class="spoiler-btn"></span>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="otz-card">
					<div class="img-otz" style="background: url(img/s-17-otz-2.png);	background-size: cover; background-position: center top; background-repeat: no-repeat;"></div>
					<h3>ТОВ "АГРОЗАХИСТ"
Руководитель Бурак Алексей Николаевич</h3>
					<p>Жатка хорошая без проблемная убирает быстро и чисто. У нас три жатки брали около 5 лет назад в компании Августин. В общем соотношение цены и ценности продукции идеально. Всем рекомендую.</p>
<p class="spoiler-body">Кстати брал на прямую с завода доставка была быстрая. Попался хороший менеджер нужны были запчасти отреагировал моментально в течение 4 дней пришли.</p>
<span href="" class="spoiler-btn">Подробнее></span>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="otz-card">
					<div class="img-otz" style="background: url(img/s-17-otz-3.png);	background-size: cover; background-position: center top; background-repeat: no-repeat;"></div>
					<h3>ТОВ ВКК "АСТОРИЯ",
Руководитель Фесун Юрий Валентинович</h3>
					<p>За 10 лет пробега - 2 ремонта. В один из сезонов полегло процентов 70 урожая. Все уверяли, что спасти невозможно. Жатки OPTISUN таки не подвели, собрали 80% казалось бы уже потерянного урожая.</p>
<span href="" class="spoiler-btn"></span>
				</div>
			</div>
		</div> 
	<div class="row text-center"><button class="yellow-btn" onclick="setbtn(this);"  title="УЗНАТЬ ПОДРОБНЕЕ">УЗНАТЬ ПОДРОБНЕЕ</button><button class="green-btn" type="button"  data-toggle="modal" data-target="#myModal" onclick="setbtn(this);"  title="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button></div>
	</div>
	</div>
	</div>
</section> 
 
<section class="s-20">
    <div class="panel panel-primary ">
        <div class="panel-heading clickable"> 
    		<h2 class="title-section">Мы на карте<i class="fas fa-chevron-down"></i></h2>
    	</div>    	
    	<div class="panel-body">
    		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2612.8271439983223!2d33.42484831568255!3d49.089924979310865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d752fefe4b8381%3A0x5d24be2d0bdae2fe!2z0LLRg9C70LjRhtGPINCa0LjRl9Cy0YHRjNC60LAsIDPQkiwg0JrRgNC10LzQtdC90YfRg9C6LCDQn9C-0LvRgtCw0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgMzk2MDA!5e0!3m2!1suk!2sua!4v1529312868780" frameborder="0" style="border:0;"  allowfullscreen></iframe>
    		</div>
    	</div>  
</section>
<footer> 
	<div class="container">
	<div class="row">
		<div class="col-md-3 colums">
		<h3>Наша Компания</h3>
		<div class="logo">
      <a class="" href="#">ТОВ  <span>АВГУСТИН</span></a>
      <p class="logo-under">Дилер завода OPTIGER</p></div>
		<p class="copyright">© 2018. Официальный дилер в Украине завода OPTIGER.<br/>
			<span>Разработано в <a href="">Scailing</a></span></p>
	</div>
	<div class="col-md-3 colums">
		<h3>АДРЕС</h3>
		<p>г. Кременчуг, Полтавская область,<br/> ул. Киевская, 3а<br/><br/>
		Часы работы: пн-сб с 09-20</p> 
	</div>
	<div class="col-md-3 colums">
		<h3>Контакты</h3>
		<a href="tel:095-946-91-53">095-946-91-53</a>
		<a href="tel:098-707-55-26">098-707-55-26</a> <br/><br/>
		<label for="">Почта:<br/><a href="mailto:medinioroginal@yahoo.com">info@tovavgustin.com.ua</a></label>
		<p class="soc-icons"><span class="col-sm-4 nam">Соцсети:</span><span class="col-sm-8"> <i class="fab fa-vk"></i>
		<i class="fab fa-facebook-f"></i>
	<i class="fab fa-instagram"></i>  </span></p>
	</div>
	<div class="col-md-3 colums">
		<h3>ОСТАЛИСЬ ВОПРОСЫ ?</h3>
<p>Оставьте заявку, и наш менеджер свяжется с вами в течение 7 минут</p>
<button class="yelloe-btn" type="button"  data-toggle="modal" data-target="#myModal" onclick="setbtn(this);"  title="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ">Получить консультацию</button>		
	</div></div>
</div>  
</footer>

<!-- Modal -->
<div id="myModal-action" class="modal fade other" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      	<div class="col-sm-7 col-sm-offset-5 act-block">
        <h4 class="modal-title">Ищите высококачественную жатку для уборки подсолнечника или кукурузы?</h4>
        <p>Заполните форму, и мы Вам сделаем наиболее выгодное предложение!</p>
				<form  action="../zhatki/thanks.php" method="post">
					<div class="row-input">
					<input type="hidden" class="popup-shower" name="title" value="">
		<input type="text" name="name" placeholder="ВАШЕ ИМЯ" required="required"> 
					<input type="tel" name="tel" placeholder="ВАШ ТЕЛЕФОН" required="required"></div>
					<button class="green-btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
				</form></div>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade other" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Оставьте заявку </h4>
        <p>на консультацию, менеджер перезвонит Вам в течении 15 минут</p>
      </div>
      <div class="modal-body">
				<form  action="../zhatki/thanks.php" method="post">
					<div class="row-input">
					<input type="hidden" class="popup-shower" name="title" value="">
		<input type="text" name="name" placeholder="ВАШЕ ИМЯ" required="required"> 
					<input type="tel" name="tel" placeholder="ВАШ ТЕЛЕФОН" required="required"></div>
					<button class="green-btn">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
				</form>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="myModal-template" class="modal fade other" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Заполните поля формы и получите шаблон договора на почту</h4> 
      </div>
      <div class="modal-body">
				<form  action="../zhatki/thanks.php" method="post">
					<div class="row-input">
					<input type="text" name="name" placeholder="ВАШЕ ИМЯ" required="required">
					<input type="mail" name="mail" placeholder="ВАШ EMAIL" required="required">
					<input type="tel" name="tel" placeholder="ВАШ ТЕЛЕФОН" required="required"></div>
					<button class="green-btn">ОТПРАВИТЬ ЗАЯВКУ</button>
				</form>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="myModal-template" class="modal fade other" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Оставьте Ваш отзыв!</h4> 
      </div>
      <div class="modal-body">
				<form  action="../zhatki/thanks.php" method="post">
					<div class="row-input">
					<input type="hidden" class="popup-shower" name="title" value="">
		<input type="text" name="name" placeholder="ВАШЕ ИМЯ" required="required"> 
					<input type="tel" name="tel" placeholder="ВАШ ТЕЛЕФОН" required="required"></div>
					<textarea name="text" id="" cols="30" rows="10" required="required"></textarea>
					<button class="green-btn">ОТПРАВИТЬ ЗАЯВКУ</button>
				</form>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>

  </div>
</div>
 
	 <script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<script src="js/common.js"></script>
	<script type="text/javascript">function setbtn(obj) {
	var id=obj.title;
	 $('.popup-shower').val("Заказ звонка с формы " + id);
	}
	</script>
</body>
</html>