@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../font/Montserrat/Montserrat-Regular.eot);
  src: url(../font/Montserrat/Montserrat-Regular.woff2);
  src: url(../font/Montserrat/Montserrat-Regular.woff);
  src: url(../font/Montserrat/Montserrat-Regular.ttf); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../font/Montserrat/Montserrat-SemiBold.eot);
  src: url(../font/Montserrat/Montserrat-SemiBold.woff2);
  src: url(../font/Montserrat/Montserrat-SemiBold.woff);
  src: url(../font/Montserrat/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(../font/Montserrat/Montserrat-ExtraBold.eot);
  src: url(../font/Montserrat/Montserrat-ExtraBold.woff2);
  src: url(../font/Montserrat/Montserrat-ExtraBold.woff);
  src: url(../font/Montserrat/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../font/Montserrat/Montserrat-Medium.eot);
  src: url(../font/Montserrat/Montserrat-Medium.woff2);
  src: url(../font/Montserrat/Montserrat-Medium.woff);
  src: url(../font/Montserrat/Montserrat-Medium.ttf); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../font/Montserrat/Montserrat-Bold.eot);
  src: url(../font/Montserrat/Montserrat-Bold.woff2);
  src: url(../font/Montserrat/Montserrat-Bold.woff);
  src: url(../font/Montserrat/Montserrat-Bold.ttf); }

body {
  font-family: "Montserrat-Regular";
  color: #363636; }

button.red-btn {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #ff1b44;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16);
          box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16);
  color: #fff;
  font-size: 12px;
  border: 0px;
  padding: 17px 35px;
  text-transform: uppercase;
  font-family: "Montserrat-Medium"; }

button.menu-close {
  background: url(../img/menu-button-of-three-lines.svg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  width: 42px;
  height: 42px;
  display: none;
  position: absolute;
  border: 0px;
  right: 20px;
  top: 20px; }
  @media (max-width: 767px) {
    button.menu-close {
      display: block; } }

form {
  width: 100%;
  max-width: 420px; }
  form input {
    width: 100%;
    max-width: 420px;
    font-size: 12pt;
    border: 0px;
    padding: 15px 25px;
    text-transform: uppercase;
    font-family: "Montserrat-Medium";
    -webkit-border-radius: 30px;
            border-radius: 30px;
    margin-bottom: 20px; }
    form input::-webkit-input-placeholder {
      text-align: center; }
    form input::-moz-placeholder {
      text-align: center; }
    form input:-ms-input-placeholder {
      text-align: center; }
    form input::-ms-input-placeholder {
      text-align: center; }
    form input::placeholder {
      text-align: center; }
  form button {
    width: 100%; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

h2 {
  color: #3184e7;
  font-size: 42px;
  font-family: "Montserrat-ExtraBold"; }
  @media (max-width: 600px) {
    h2 {
      font-size: 36px; } }
  @media (max-width: 350px) {
    h2 {
      font-size: 26px; } }
  h2 span {
    position: relative; }
    h2 span:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -22px;
      background-image: url(../img/ShuBox.png);
      width: 148px;
      height: 55px;
      opacity: 0.7; }
      @media (max-width: 600px) {
        h2 span:before {
          content: "";
          position: absolute;
          right: 0;
          bottom: -3px;
          background-image: url(../img/ShuBox.png);
          width: 85px;
          height: 30px;
          opacity: 0.7;
          -webkit-background-size: cover;
                  background-size: cover; } }

header .nav {
  padding: 30px 0px; }
  header .nav .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 767px) {
      header .nav .row {
        display: block; } }
    header .nav .row .col-md-6 {
      padding-left: 0px; }

header ul.menu {
  padding-left: 0px;
  margin-left: 0px;
  display: block;
  height: auto; }
  @media (max-width: 767px) {
    header ul.menu {
      display: none;
      width: 100%; } }
  header ul.menu li {
    list-style-type: none;
    display: inline-block;
    float: left; }
    @media (max-width: 767px) {
      header ul.menu li {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 15px; } }
    header ul.menu li a {
      padding: 10px 10px 10px 0px;
      color: #363636;
      font-family: "Montserrat-Medium";
      font-size: 14px; }
      header ul.menu li a:hover {
        color: #363636;
        text-decoration: none; }

header .phone {
  text-align: right; }
  @media (max-width: 767px) {
    header .phone {
      text-align: center; } }
  header .phone a {
    font-size: 25px;
    font-family: "Montserrat-Bold";
    color: #363636; }
    header .phone a:hover {
      color: #363636;
      text-decoration: none; }

header .row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.head-img {
  padding: 0; }
  .head-img img {
    max-width: 100%;
    height: auto;
    display: block; }

.stretch {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.left-arrow {
  position: absolute;
  width: 7px;
  height: 12px;
  bottom: 0px;
  display: block;
  bottom: -50px;
  left: 0px;
  z-index: 5;
  cursor: pointer; }

.right-arrow {
  position: absolute;
  width: 7px;
  height: 12px;
  bottom: 0px;
  display: block;
  bottom: -50px;
  left: 145px;
  z-index: 5;
  cursor: pointer; }

.nav-next {
  background-image: url(../img/right-arrow.png);
  width: 7px;
  height: 12px;
  display: block; }

.nav-prev {
  background-image: url(../img/left-arrow.png);
  width: 7px;
  height: 12px;
  display: block; }

.slick-dotted.slick-slider {
  position: relative; }

.slick-dots li.slick-active button:before {
  color: #ff1b44;
  font-size: 10px;
  line-height: 23px; }

.slick-dots {
  width: auto;
  bottom: -64px;
  left: 15px;
  z-index: 3; }

.slick-counter2 {
  margin-top: -50px;
  background: red;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat-Bold";
  position: relative;
  z-index: 8888888; }

.slick-list {
  z-index: 77; }

.slick-dotted.slick-slider {
  margin-bottom: 90px; }

.s-1 .bg {
  background: url(../img/header-pic-bg.png) no-repeat left bottom, #f4f4f4;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16);
          box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16); }

.s-1 .inf-block {
  padding: 100px 60px;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100%; }
  @media (max-width: 1200px) {
    .s-1 .inf-block {
      padding: 63px 60px; } }
  @media (max-width: 767px) {
    .s-1 .inf-block {
      padding: 63px 20px; } }

.s-1 .descrip {
  margin: 30px 0px;
  font-size: 16px;
  font-family: "Montserrat-SemiBold"; }

.s-1 .logo {
  background-image: url(../img/Box.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 112px;
  height: 44px; }

.s-1 img {
  max-width: 100%;
  display: block;
  height: auto; }

.s-1 .head-img {
  padding: 0;
  background: url(../img/header-pic.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100%;
  min-height: 472px; }
  @media (max-width: 1200px) {
    .s-1 .head-img {
      min-height: 437px; } }

.s-1 .s-1-2 {
  margin-top: 150px; }
  .s-1 .s-1-2 p {
    font-family: "Montserrat-Regular"; }
  .s-1 .s-1-2 .head-img {
    padding: 0;
    background: url(../img/header-pic.png) no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    height: 100%;
    min-height: 511px; }
    @media (max-width: 1200px) {
      .s-1 .s-1-2 .head-img {
        min-height: 437px; } }
  .s-1 .s-1-2 .inf-block {
    padding: 0px 60px; }

.s-1 .s-1-3 {
  padding: 80px 0px; }
  .s-1 .s-1-3 .numb {
    font-size: 56pt;
    color: #ff1b44;
    font-family: "Montserrat-SemiBold";
    position: relative;
    line-height: 73px; }
    .s-1 .s-1-3 .numb:before {
      content: "";
      position: absolute;
      width: 21px;
      height: 21px;
      left: 0px;
      bottom: 0px;
      background-color: #3184e7;
      opacity: 0.85; }
  .s-1 .s-1-3 p {
    font-family: "Montserrat-SemiBold";
    font-size: 16pt; }
  @media (max-width: 767px) {
    .s-1 .s-1-3 .col-md-4 {
      margin-bottom: 30px; } }

.s-2 {
  background-color: #f7f7f7;
  padding: 80px 0px 20px; }
  .s-2 .s-1-1 .head-img {
    padding: 0;
    background: url(../img/form-right-pic.png) no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    height: 100%;
    min-height: 580px; }
    @media (max-width: 1200px) {
      .s-2 .s-1-1 .head-img {
        min-height: 528px; } }
  .s-2 .s-1-1 h2 {
    text-align: left; }
  .s-2 .s-1-1 form input {
    border-width: 1px;
    border-color: #f4f4f4;
    border-style: solid;
    -webkit-border-radius: 30px;
            border-radius: 30px; }
  .s-2 h2 {
    text-align: center;
    padding-bottom: 50px; }
  .s-2 .prod-cart {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative; }
    .s-2 .prod-cart:hover .button-block {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: rgba(255, 255, 255, 0.6); }
      .s-2 .prod-cart:hover .button-block button {
        display: block; }
    .s-2 .prod-cart .button-block {
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .s-2 .prod-cart .button-block button {
        display: none; }
    .s-2 .prod-cart h4 {
      color: #cdcdcd;
      font-family: "Montserrat-SemiBold";
      font-size: 16px; }
    .s-2 .prod-cart .price {
      font-family: "Montserrat-Bold";
      font-size: 19px; }
    .s-2 .prod-cart .img-block {
      min-height: 250px; }
    .s-2 .prod-cart img {
      max-width: 100%;
      display: block;
      height: auto;
      margin: 0 auto; }
  .s-2 .bg {
    background: #fff;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16);
            box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16); }
  .s-2 .inf-block {
    padding: 69px 60px;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100%; }
    @media (max-width: 1200px) {
      .s-2 .inf-block {
        padding: 43px 60px; } }
    @media (max-width: 767px) {
      .s-2 .inf-block {
        padding: 63px 20px; } }

.s-3 .podpis {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .s-3 .podpis button {
    margin-right: 30px; }

.s-3 .slick-slider {
  margin: 50px 0px 85px; }

.s-3 .slide-block {
  padding-top: 40px; }

@media (max-width: 1200px) {
  .s-3 img {
    max-width: 100%;
    height: auto;
    display: block; } }

.s-3 p.under-title {
  color: #a2a2a2;
  font-family: "Montserrat-Regular";
  margin-top: 30px; }

.s-3-5 {
  padding: 30px 0px; }
  .s-3-5 h2 {
    text-align: center; }
  .s-3-5 .card {
    background-color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 21px 46px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 21px 46px 0px rgba(0, 0, 0, 0.08);
    padding: 10px;
    margin-bottom: 50px; }
    .s-3-5 .card .img-blok {
      position: relative; }
      .s-3-5 .card .img-blok:before {
        content: "";
        position: absolute;
        right: -62px;
        top: 0px;
        background-image: url(../img/ShuBox-resp.png);
        width: 263px;
        height: 126px;
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6); }
      .s-3-5 .card .img-blok img {
        width: 100%;
        display: block; }
    .s-3-5 .card .cont {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .s-3-5 .card .cont h4 {
        text-transform: uppercase;
        font-family: "Montserrat-SemiBold";
        font-size: 12px; }
    .s-3-5 .card .inst {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .s-3-5 .card .inst img {
        display: block;
        left: 10px;
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6); }
      .s-3-5 .card .inst span {
        display: block;
        font-size: 10px; }
  .s-3-5 .slick-slider {
    margin-bottom: 100px; }
  .s-3-5 .slick-dots {
    width: 100%;
    bottom: -56px; }
  .s-3-5 .left-arrow {
    z-index: 5;
    left: 42%;
    bottom: -42px; }
  .s-3-5 .right-arrow {
    z-index: 5;
    right: 40%;
    left: unset;
    bottom: -42px; }
  .s-3-5 .slick-track {
    padding: 200px 0px; }
    @media (max-width: 767px) {
      .s-3-5 .slick-track {
        padding: 50px 0px; } }
  .s-3-5 .slick-slide {
    -webkit-transform: scale(1.8);
        -ms-transform: scale(1.8);
            transform: scale(1.8); }
    @media (max-width: 767px) {
      .s-3-5 .slick-slide {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); } }
  .s-3-5 .slick-slide:not(.slick-center) {
    z-index: 0;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.3; }
  .s-3-5 .slick-active.slick-center + .slick-slide {
    z-index: 2; }
    .s-3-5 .slick-active.slick-center + .slick-slide + .slick-slide {
      z-index: 1; }
  .s-3-5 .slick-center {
    z-index: 3; }
    .s-3-5 .slick-center + .slick-cloned {
      z-index: 2; }
  .s-3-5 .slick-slide {
    position: relative;
    -webkit-transition: -webkit-transform 80ms;
    transition: -webkit-transform 80ms;
    -o-transition: transform 80ms;
    transition: transform 80ms;
    transition: transform 80ms, -webkit-transform 80ms; }
  .s-3-5 .slide {
    position: relative;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%; }
  .s-3-5 .slick-prev {
    left: 10% !important; }
  .s-3-5 .slick-next {
    right: 10% !important; }
  @media (max-width: 767px) {
    .s-3-5 .resp-block {
      padding-left: 0px;
      padding-right: 0px; } }

.s-4 {
  padding: 100px 0px;
  background-color: #f7f7f7; }
  .s-4 h2 {
    text-align: center;
    padding-bottom: 50px; }
  .s-4 h4 {
    font-family: "Montserrat-ExtraBold";
    font-size: 18px;
    margin: 30px 0px 20px; }
  .s-4 .icos-blcok {
    margin-bottom: 30px;
    min-height: 200px; }
    @media (max-width: 1200px) {
      .s-4 .icos-blcok {
        min-height: 250px; } }
  .s-4 .list-col {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.s-5 {
  padding: 50px 0px; }
  .s-5 .head-img img {
    max-width: 100%;
    height: auto;
    display: block; }
  .s-5 h3 {
    font-family: "Montserrat-ExtraBold";
    font-size: 24px; }
  .s-5 p.descrip {
    margin: 30px 0px;
    font-family: "Montserrat-SemiBold"; }
  .s-5 p.under-title {
    color: #a2a2a2;
    font-family: "Montserrat-Regular";
    margin-top: 30px; }
  .s-5 .bg {
    background: #f4f4f4;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16);
            box-shadow: 0px 20px 40px 0px rgba(1, 1, 1, 0.16); }
  .s-5 .inf-block {
    padding: 38px 60px;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1200px) {
      .s-5 .inf-block {
        padding: 33px 60px; } }
    @media (max-width: 767px) {
      .s-5 .inf-block {
        padding: 63px 20px; } }
  .s-5 .head-img {
    padding: 0;
    background: url(../img/s-5-pic.png) no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    height: 100%;
    min-height: 580px; }
    @media (max-width: 1200px) {
      .s-5 .head-img {
        min-height: 437px; } }

.modal form {
  display: block;
  margin: 0 auto; }
  @media (max-width: 450px) {
    .modal form {
      max-width: 280px; } }
  .modal form input {
    -webkit-box-shadow: 0px 0px 14px 0px #ccc;
            box-shadow: 0px 0px 14px 0px #ccc; }

.modal .modal-header {
  border-bottom: 0px solid #e5e5e5; }

.modal .modal-footer {
  border-top: 0px solid #e5e5e5; }

.modal .modal-header {
  text-align: center;
  font-size: 24px;
  padding: 30px 0px; }

.modal button.close {
  right: 20px;
  position: absolute;
  top: 20px; }

@media (max-width: 450px) {
  .modal-dialog {
    margin: 0; } }
