@font-face {
  font-family: 'kram';
  src: url(../font/kram.eot);
  src: url(../font/kram.woff);
  src: url(../font/kram.otf);
  src: url(../font/kram.woff2);
  src: url(../font/kram.ttf); }

@font-face {
  font-family: 'NanamiPro-Regular4';
  src: url(../font/NanamiPro-Regular4.eot);
  src: url(../font/NanamiPro-Regular4.woff);
  src: url(../font/NanamiPro-Regular4.otf);
  src: url(../font/NanamiPro-Regular4.woff2);
  src: url(../font/NanamiPro-Regular4.ttf); }

@font-face {
  font-family: 'NanamiPro-Regular5';
  src: url(../font/NanamiPro-Regular5.eot);
  src: url(../font/NanamiPro-Regular5.woff);
  src: url(../font/NanamiPro-Regular5.otf);
  src: url(../font/NanamiPro-Regular5.woff2);
  src: url(../font/NanamiPro-Regular5.ttf); }

@font-face {
  font-family: 'NanamiPro-Regular6';
  src: url(../font/NanamiPro-Regular6.eot);
  src: url(../font/NanamiPro-Regular6.woff);
  src: url(../font/NanamiPro-Regular6.otf);
  src: url(../font/NanamiPro-Regular6.woff2);
  src: url(../font/NanamiPro-Regular6.ttf); }

@font-face {
  font-family: 'NanamiPro-Regular7';
  src: url(../font/NanamiPro-Regular7.eot);
  src: url(../font/NanamiPro-Regular7.woff);
  src: url(../font/NanamiPro-Regular7.otf);
  src: url(../font/NanamiPro-Regular7.woff2);
  src: url(../font/NanamiPro-Regular7.ttf); }

@font-face {
  font-family: 'MuseoSansCyrillic-900';
  src: url(../font/MuseoSansCyrillic-900.eot);
  src: url(../font/MuseoSansCyrillic-900.woff);
  src: url(../font/MuseoSansCyrillic-900.otf);
  src: url(../font/MuseoSansCyrillic-900.woff2);
  src: url(../font/MuseoSansCyrillic-900.ttf); }

@font-face {
  font-family: 'MuseoSansCyrillic-100';
  src: url(../font/MuseoSansCyrillic-100.eot);
  src: url(../font/MuseoSansCyrillic-100.woff);
  src: url(../font/MuseoSansCyrillic-100.otf);
  src: url(../font/MuseoSansCyrillic-100.woff2);
  src: url(../font/MuseoSansCyrillic-100.ttf); }

@font-face {
  font-family: 'MuseoSansCyrillic-300';
  src: url(../font/MuseoSansCyrillic-300.eot);
  src: url(../font/MuseoSansCyrillic-300.woff);
  src: url(../font/MuseoSansCyrillic-300.otf);
  src: url(../font/MuseoSansCyrillic-300.woff2);
  src: url(../font/MuseoSansCyrillic-300.ttf); }

@font-face {
  font-family: 'MuseoSansCyrillic-500';
  src: url(../font/MuseoSansCyrillic-500.eot);
  src: url(../font/MuseoSansCyrillic-500.woff);
  src: url(../font/MuseoSansCyrillic-500.otf);
  src: url(../font/MuseoSansCyrillic-500.woff2);
  src: url(../font/MuseoSansCyrillic-500.ttf); }

@font-face {
  font-family: 'MuseoSansCyrillic-700';
  src: url(../font/MuseoSansCyrillic-700.eot);
  src: url(../font/MuseoSansCyrillic-700.woff);
  src: url(../font/MuseoSansCyrillic-700.otf);
  src: url(../font/MuseoSansCyrillic-700.woff2);
  src: url(../font/MuseoSansCyrillic-700.ttf); }

body {
  background-color: #f8fbfc;
  margin: 0;
  padding: 0;
  font-family: "NanamiPro-Regular5"; }

.button {
  border: 0px solid #fff;
  font-size: 18px;
  -moz-transform: scale(1, 0.95);
  -webkit-transform: scale(1, 0.95);
  -ms-transform: scale(1, 0.95);
  padding: 20px 50px;
  color: #FFF;
  display: block;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  background: -webkit-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
  background: -ms-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
  background-image: -webkit-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
  background-image: -ms-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
  font-family: "NanamiPro-Regular4";
  max-width: 220px;
  text-decoration: none; }
  .button:hover {
    opacity: 0.8;
    color: #FFF;
    text-decoration: none; }
  .button:visited, .button:focus, .button:active {
    color: #FFF;
    text-decoration: none; }

.seren-btn {
  border: 0px solid #fff;
  font-size: 18px;
  -moz-transform: scale(1, 0.95);
  -webkit-transform: scale(1, 0.95);
  -ms-transform: scale(1, 0.95);
  padding: 20px 50px;
  color: #FFF;
  display: block;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background: url("../img/seren-btn.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  font-family: "NanamiPro-Regular4";
  max-width: 520px;
  text-decoration: none; }
  .seren-btn:hover {
    opacity: 0.8;
    color: #FFF;
    text-decoration: none; }

a.details {
  border-bottom: 1px solid #7f7f7f;
  font-family: "NanamiPro-Regular5";
  color: #7F7F7F; }
  a.details:hover {
    text-decoration: none;
    color: #7F7F7F; }

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.col-6 {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -150px; }
  @media (max-width: 1500px) {
    .col-6 {
      margin-top: -100px; } }
  @media (max-width: 767px) {
    .col-6 {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }

header {
  height: 100vh;
  color: #FFF;
  background: url("../img/header-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center bottom; }
  @media (max-width: 767px) {
    header {
      background: #fcfcfc;
      background-position: center top;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      color: #000000; } }
  header .info-col {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      header .info-col {
        -webkit-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 0;
        padding-right: 0; } }
    header .info-col .text-center {
      padding: 0; }
    header .info-col .head-hid {
      padding: 0;
      display: none; }
      @media (max-width: 767px) {
        header .info-col .head-hid {
          display: block;
          width: 100%; } }
      header .info-col .head-hid img {
        display: block;
        width: 100%;
        height: auto; }
  header p {
    font-family: "NanamiPro-Regular5";
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 40px; }
    header p.under-title {
      font-size: 36px;
      font-family: "kram";
      font-weight: normal;
      margin-top: 10px;
      line-height: 38px;
      margin-bottom: 30px; }
      @media (max-width: 767px) {
        header p.under-title {
          font-size: 26px; } }
  header h1 {
    font-size: 62px;
    font-family: "kram";
    font-weight: normal;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      header h1 {
        font-size: 36px; } }
    header h1 span {
      background: url("../img/bcg-line.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center bottom;
      width: 100%;
      max-width: 320px;
      padding-right: 40px; }
      @media (max-width: 767px) {
        header h1 span {
          padding-right: 0; } }
  header .button {
    padding: 22px 30px 20px 30px;
    max-width: 320px;
    letter-spacing: 3px;
    display: inline-block; }
    header .button:hover {
      text-decoration: none;
      color: #FFF; }
  header .arrow-butt {
    max-height: 90px;
    display: block;
    margin-left: 28px;
    margin-top: 30px;
    display: none; }
    @media (max-width: 767px) {
      header .arrow-butt {
        display: block; } }
  header .btn-row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 767px) {
      header .btn-row {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    header .btn-row:before {
      content: "";
      position: absolute;
      display: block;
      background: url("../img/button-arrow.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center bottom;
      width: 71px;
      height: 102px;
      top: 30px;
      right: 30px; }
      @media (max-width: 767px) {
        header .btn-row:before {
          display: none; } }

.head-panel {
  position: relative; }
  .head-panel span.full-width {
    position: absolute;
    width: 100%;
    background: #fff;
    left: 0px;
    padding: 16px 0px 14px;
    margin-top: -27px;
    border: 1px solid #ccc;
    letter-spacing: 4px; }
    @media (max-width: 1199px) {
      .head-panel span.full-width {
        margin-top: -21px; } }
  .head-panel span.full-width.dops {
    position: absolute;
    width: 100%;
    background: #e2e8eb;
    left: 0px;
    padding: 16px 0px 13px;
    margin-top: -25px;
    border: 1px solid #ccc;
    letter-spacing: 4px; }
    @media (max-width: 1199px) {
      .head-panel span.full-width.dops {
        margin-top: -21px; } }
  .head-panel span.full-width.vips {
    position: absolute;
    width: 100%;
    background-color: #ebe2e5;
    left: 0px;
    padding: 16px 0px 13px;
    margin-top: -25px;
    border: 1px solid #ccc;
    letter-spacing: 4px; }
    @media (max-width: 1199px) {
      .head-panel span.full-width.vips {
        margin-top: -21px; } }

.footable-first-visible.green-bg {
  background: url("../img/green-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
    -webkit-background-size--o-background-size: cover;
  -webkit-background-size: conver conver;
          background-size: conver; }

.footable-first-visible {
  background-color: #efefef; }

.red {
  color: #fff;
  text-align: center;
  background: url("../img/red-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
    -webkit-background-size--o-background-size: cover;
  -webkit-background-size: conver conver;
          background-size: conver; }

.orange {
  color: #fff;
  text-align: center;
  background: url("../img/orange-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
    -webkit-background-size--o-background-size: cover;
  -webkit-background-size: conver conver;
          background-size: conver; }

.geen {
  color: #fff;
  text-align: center;
  background: url("../img/geen-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
    -webkit-background-size--o-background-size: cover;
  -webkit-background-size: conver conver;
          background-size: conver; }

.blue {
  color: #fff;
  text-align: center;
  background: url("../img/blue-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
    -webkit-background-size--o-background-size: cover;
  -webkit-background-size: conver conver;
          background-size: conver; }

.packets-info {
  padding-bottom: 80px;
  color: #2F2F2F; }
  .packets-info .packet-container .packet-inf {
    margin-bottom: 20px; }
    .packets-info .packet-container .packet-inf p {
      margin: 20px 0px; }
  .packets-info .packet-container .packet-card {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 8px 24px 0px rgba(178, 178, 178, 0.61);
            box-shadow: 0px 8px 24px 0px rgba(178, 178, 178, 0.61);
    padding: 25px;
    margin-bottom: 30px;
    opacity: 0; }
    .packets-info .packet-container .packet-card.active {
      opacity: 1;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .packets-info .packet-container .packet-card.red-border {
      border-bottom: 5px solid #fb6e6f; }
    .packets-info .packet-container .packet-card.orange-border {
      border-bottom: 5px solid #ff7650; }
    .packets-info .packet-container .packet-card.green-border {
      border-bottom: 5px solid #76bb51; }
    .packets-info .packet-container .packet-card.blue-border {
      border-bottom: 5px solid #5d9adb; }
    .packets-info .packet-container .packet-card .packet-inf {
      border-bottom: 1px solid #f0f0f0; }
    .packets-info .packet-container .packet-card h3 {
      font-family: "NanamiPro-Regular7";
      font-size: 21px;
      margin-bottom: 10px;
      margin-top: 0; }
    .packets-info .packet-container .packet-card h4 {
      font-family: "NanamiPro-Regular6";
      text-transform: uppercase;
      font-size: 14px; }
    .packets-info .packet-container .packet-card p {
      font-family: "NanamiPro-Regular6";
      font-size: 20px; }
    .packets-info .packet-container .packet-card a {
      font-family: "NanamiPro-Regular6";
      font-size: 20px;
      text-decoration: none;
      border-bottom: 1px solid #000000;
      color: #000000; }

.shild {
  right: -10px;
  position: absolute;
  top: -10px; }
  @media (max-width: 767px) {
    .shild {
      float: none;
      display: block;
      z-index: -1; } }
  .shild:before {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: url("../img/shild.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
      -webkit-background-size--o-background-size: contain;
    background-size: contain;
    right: 0px;
    top: 0px; }
    @media (max-width: 767px) {
      .shild:before {
        top: -30px;
        right: 0; } }

.table-sec {
  padding-bottom: 50px; }
  .table-sec table {
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .table-sec .button {
    font-size: 14px;
    padding: 12px 20px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    @media (max-width: 767px) {
      .table-sec .button {
        white-space: normal;
        padding: 12px 12px;
        word-break: normal; } }
    .table-sec .button.orange {
      background: #ff904d;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: contain;
      background-size: contain;
      width: 209px;
      height: 65px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-align-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 6px solid #fec8a6;
      -webkit-box-shadow: 0px 0px 0px 6px  #feece0;
      box-shadow: 0px 0px 0px 6px  #feece0;
      -webkit-animation: shadow-pulse 1.5s infinite;
      animation: shadow-pulse 1.5s infinite; }
      @media (max-width: 425px) {
        .table-sec .button.orange {
          width: 120px; } }
    @media (max-width: 425px) {
      .table-sec .button {
        width: 120px; } }
  .table-sec .footable.table {
    margin-bottom: 0; }
  .table-sec .footable.table th, .table-sec .footable-details.table th {
    text-align: center;
    padding: 25px 10px;
    font-family: "NanamiPro-Regular7";
    font-weight: normal;
    vertical-align: middle; }
  .table-sec .footable.table th.orange, .table-sec .footable-details.table th.orange {
    position: relative; }
    .table-sec .footable.table th.orange:before, .table-sec .footable-details.table th.orange:before {
      content: "";
      position: absolute;
      display: block;
      width: 32px;
      height: 34px;
      background: url("../img/beidge.png");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: contain;
        -webkit-background-size--o-background-size: contain;
      background-size: contain;
      right: 30px;
      top: -3px; }

th.footable-first-visible {
  background-color: #fff;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  border-top: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  -webkit-border-radius: 10px !important;
  border-top-left-radius: 10px !important; }

th.footable-last-visible {
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px; }

.mob-vis {
  display: none; }
  @media (max-width: 1199px) {
    .mob-vis {
      display: block !important; } }

.mob-hid {
  display: block; }
  @media (max-width: 1199px) {
    .mob-hid {
      display: none !important; } }

.white-bg.footable-first-visible {
  background-color: #FFF; }

.footable.table > tbody > tr:nth-child(even) {
  background-color: #fafafa; }

.footable.table > tbody > tr:nth-child(odd) {
  background-color: #fff; }

.footable.table > tbody > tr > td:first-of-type {
  text-align: left;
  padding: 20px 65px 20px 20px;
  font-family: "MuseoSansCyrillic-300"; }
  @media (max-width: 767px) {
    .footable.table > tbody > tr > td:first-of-type {
      z-index: 2;
      display: block;
      position: relative;
      padding: 20px 5px 20px 5px; } }

.footable.table > tbody > tr > td:first-of-type strong {
  text-align: left;
  font-family: "MuseoSansCyrillic-700"; }

.footable.table > tbody > tr > td strong {
  font-family: "MuseoSansCyrillic-700"; }

.footable.table > tbody > tr > td.geen.price {
  color: #FFF; }

.footable.table > tbody > tr > td.geen {
  color: #000000; }

.footable.table > tbody > tr > td {
  position: relative;
  border: 1px #ccc solid;
  text-align: center;
  font-family: "MuseoSansCyrillic-100";
  padding: 20px 10px;
  vertical-align: middle;
  width: 100%; }
  .footable.table > tbody > tr > td .info-tooltip {
    position: absolute;
    right: 5px;
    top: 5px; }

.tooltip {
  top: unset !important;
  left: 0 !important;
  bottom: 30px;
  height: 122px;
  width: 365px !important;
  background: url(../img/tooltip-bg.png);
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: trqnsparent;
  color: #000000; }
  @media (max-width: 767px) {
    .tooltip {
      top: unset !important;
      left: unset !important;
      right: 0 !important;
      bottom: 30px; } }
  .tooltip.top .tooltip-arrow {
    border-top-color: red; }
  .tooltip.top .tooltip-inner {
    border: 0px solid red;
    padding: 10px 20px;
    width: 365px !important;
    max-width: 365px;
    font-family: "NanamiPro-Regular5";
    height: 122px;
    text-align: left;
    color: #000000;
    font-size: 13px;
    position: relative;
    margin: 0;
    background: transparent; }

.info-tooltip {
  -webkit-animation: shadow-pulse 1.5s infinite;
  animation: shadow-pulse 1.5s infinite;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(253, 206, 159, 0.5);
    box-shadow: 0 0 0 0px rgba(253, 206, 159, 0.5); }
  100% {
    -webkit-box-shadow: 0 0 0 35px rgba(253, 206, 159, 0);
    box-shadow: 0 0 0 35px rgba(253, 206, 159, 0); } }

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(253, 206, 159, 0.5);
    box-shadow: 0 0 0 0px rgba(253, 206, 159, 0.5); }
  100% {
    -webkit-box-shadow: 0 0 0 35px rgba(253, 206, 159, 0);
    box-shadow: 0 0 0 35px rgba(253, 206, 159, 0); } }

.plus {
  text-align: center; }

span.check {
  background: url("../img/check-mark-black-outline.png");
  width: 20px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
    -webkit-background-size--o-background-size: contain;
  background-size: contain;
  display: block;
  margin: 0 auto; }
  span.check.inline {
    display: inline-block;
    margin-right: 10px; }

span.minus {
  background: url("../img/minus.png");
  width: 24px;
  height: 3px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
    -webkit-background-size--o-background-size: contain;
  background-size: contain;
  display: block;
  margin: 0 auto; }

.footable.table > tbody > tr > td.trsnap {
  opacity: 0;
  border: 0px solid #fff; }

.hid {
  display: none !important; }

@media (max-width: 1199px) {
  .footable-header {
    opacity: 0; } }

tr.full-row {
  width: 100%; }

.second tr.full-row > td {
  background-color: #FFF;
  border: 1px solid #ccc; }
  .second tr.full-row > td.fulls.green-bg {
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-image: none;
    text-align: center;
    background: url("../img/green-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
      -webkit-background-size--o-background-size: cover;
    -webkit-background-size: conver conver;
            background-size: conver; }
  .second tr.full-row > td.fulls {
    width: 842px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: right;
    padding: 20px 26px;
    margin-right: -3px;
    margin-top: -1px;
    font-family: "MuseoSansCyrillic-300";
    color: #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 1199px) {
      .second tr.full-row > td.fulls {
        width: 101%; } }

.footable.table > tbody > tr > td:nth-child(3) {
  box-shadow: 5px 0 10px -4px rgba(136, 138, 136, 0.5), -4px 0 10px -5px rgba(136, 138, 136, 0.5);
  -moz-box-shadow: 5px 0 10px -4px rgba(136, 138, 136, 0.5), -4px 0 10px -5px rgba(136, 138, 136, 0.5);
  -webkit-box-shadow: 5px 0 10px -4px rgba(136, 138, 136, 0.5), -4px 0 10px -5px rgba(136, 138, 136, 0.5); }

table.footable-details > tbody > tr > td {
  vertical-align: middle !important; }

.pinky {
  background-color: #faebeb;
  font-family: "NanamiPro-Regular7";
  padding: 6px 6px 0px;
  font-size: 24px; }

.bonuspay {
  font-size: 14px; }

.fooicon-plus:before {
  content: "+";
  color: green;
  font-size: 20px;
  font-family: "MuseoSansCyrillic-700"; }

.fooicon-minus:before {
  content: "-";
  color: red;
  font-size: 20px;
  font-family: "MuseoSansCyrillic-700"; }

.modal-header {
  border-bottom: 0px solid #fff; }

.modal-footer {
  border-top: 0px solid #fff; }

.s-3 {
  padding: 60px 10px 60px;
  background: url("../img/s-3-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top; }
  @media (max-width: 1199px) {
    .s-3 {
      background-position: left center; } }
  @media (max-width: 767px) {
    .s-3 {
      padding: 30px 10px 30px; } }
  .s-3 h2 {
    font-size: 37px;
    color: #45260E;
    font-family: "MuseoSansCyrillic-900";
    margin-top: 10px; }
  .s-3 .tex-cols {
    margin-top: 55px;
    font-family: "MuseoSansCyrillic-300";
    font-size: 19px;
    display: block;
    background: url("../img/satikazanova.png") right top, #FFF;
    background-repeat: no-repeat;
    padding: 30px 30px 100px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 23px 18px 0px rgba(175, 175, 175, 0.11);
            box-shadow: 0px 23px 18px 0px rgba(175, 175, 175, 0.11);
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .s-3 .tex-cols {
        background: #FFF; } }
  .s-3 .inf-mobs {
    display: none; }
    @media (max-width: 767px) {
      .s-3 .inf-mobs {
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 10px;
        -webkit-border-bottom-left-radius: 10px;
                border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
                border-bottom-right-radius: 10px;
        left: 0;
        display: block;
        background: -webkit-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
        background: -ms-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
        background-image: -webkit-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
        background-image: -ms-linear-gradient(-145deg, #fc6e6d 0%, #9c60fe 100%);
        color: #FFF; } }
  .s-3 .girl-hidd {
    display: none; }
    @media (max-width: 767px) {
      .s-3 .girl-hidd {
        display: block; }
        .s-3 .girl-hidd img {
          max-width: 100%;
          height: auto;
          display: block; } }
  .s-3 h3 {
    font-size: 24px;
    font-family: "MuseoSansCyrillic-900";
    margin-bottom: 15px;
    margin-top: 0; }
  .s-3 ul.list-white {
    padding-left: 0; }
    .s-3 ul.list-white li {
      margin-bottom: 10px;
      list-style-type: none;
      position: relative;
      padding-left: 30px;
      font-size: 17px;
      font-family: "MuseoSansCyrillic-300"; }
      .s-3 ul.list-white li:before {
        content: "";
        position: absolute;
        display: block;
        top: 4px;
        left: 0;
        width: 15px;
        height: 15px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid #EEE6D9;
        background-color: #fff; }
  @media (max-width: 1300px) {
    .s-3 img {
      display: block;
      height: auto;
      max-width: 100%; } }
  .s-3 .bon-fon {
    font-size: 91px;
    font-family: "MuseoSansCyrillic-900";
    color: rgba(255, 255, 255, 0.51);
    text-transform: uppercase;
    line-height: 0.9;
    text-align: left;
    position: absolute; }
    @media (max-width: 767px) {
      .s-3 .bon-fon {
        font-size: 40px;
        top: 30px; } }
  .s-3 p.link-more {
    color: #545454;
    font-family: "NanamiPro-Regular5";
    font-size: 18px; }
    @media (max-width: 991px) {
      .s-3 p.link-more {
        font-size: 16px; } }
    .s-3 p.link-more a {
      color: #45260e;
      font-family: "MuseoSansCyrillic-900";
      font-size: 18px; }
      @media (max-width: 991px) {
        .s-3 p.link-more a {
          font-size: 16px; } }
  .s-3 p {
    font-family: "MuseoSansCyrillic-300";
    font-size: 18px; }
  .s-3 p.upper {
    font-size: 21px;
    color: #151515;
    font-family: "MuseoSansCyrillic-700"; }
  .s-3 p.under {
    font-size: 20px;
    font-family: "MuseoSansCyrillic-500"; }
  .s-3 .bon-block {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #FFF;
    font-family: "MuseoSansCyrillic-300";
    font-size: 14px;
    margin: 10px auto 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;
    height: 100%; }
  .s-3 .col-md-6 {
    padding-left: 13px; }
  .s-3 .container-inf {
    position: absolute;
    bottom: 0; }
    @media (max-width: 991px) {
      .s-3 .container-inf {
        position: relative; } }
  .s-3 .aligs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 1199px) {
      .s-3 .aligs {
        display: block; } }
  .s-3 .round-bon {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url("../img/round.png");
    -webkit-box-shadow: -10.607px 10.607px 35px 0px rgba(217, 80, 86, 0.19);
            box-shadow: -10.607px 10.607px 35px 0px rgba(217, 80, 86, 0.19);
    font-family: "MuseoSansCyrillic-900";
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 125px;
    height: 125px;
    position: absolute;
    top: -25px;
    left: -80px; }
    @media (max-width: 991px) {
      .s-3 .round-bon {
        top: -45px;
        left: -100px; } }
    @media (max-width: 767px) {
      .s-3 .round-bon {
        position: relative;
        top: 0;
        left: 0; } }
    .s-3 .round-bon span {
      font-size: 14px;
      font-family: "MuseoSansCyrillic-300"; }
  .s-3 .action-blok {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    position: relative;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.3); }
    @media (max-width: 767px) {
      .s-3 .action-blok {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .s-3 .name-bon {
    color: #000000;
    font-size: 16px;
    font-family: "MuseoSansCyrillic-500";
    padding-left: 10px; }
    @media (max-width: 767px) {
      .s-3 .name-bon {
        text-align: center; } }
    .s-3 .name-bon span {
      color: #D94F55;
      font-size: 22px;
      font-family: "MuseoSansCyrillic-900"; }
  .s-3 p.snosk {
    font-size: 14px;
    font-family: "MuseoSansCyrillic-300";
    color: #000000; }
    @media (max-width: 991px) {
      .s-3 p.snosk {
        margin-top: 30px; } }
    @media (max-width: 767px) {
      .s-3 p.snosk {
        text-align: center; } }

.s-4 {
  padding: 50px 10px 130px;
  background: url("../img/s-4-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top; }
  @media (max-width: 1199px) {
    .s-4 {
      background-position: center; } }
  @media (max-width: 991px) {
    .s-4 {
      background-position: center right; } }
  @media (max-width: 767px) {
    .s-4 {
      padding: 30px 10px 30px; } }
  .s-4 h2 {
    font-size: 37px;
    color: #624dd2;
    font-family: "MuseoSansCyrillic-900";
    margin-top: 10px; }
  .s-4 .tex-cols {
    font-family: "MuseoSansCyrillic-300";
    font-size: 19px; }
  .s-4 h3 {
    font-size: 24px;
    font-family: "MuseoSansCyrillic-900";
    margin-bottom: 20px; }
  .s-4 .girl-hidd {
    display: none; }
    @media (max-width: 767px) {
      .s-4 .girl-hidd {
        display: block; }
        .s-4 .girl-hidd img {
          max-width: 100%;
          height: auto;
          display: block; } }
  .s-4 ul.list-white {
    display: block;
    margin-top: 75px;
    background-color: #FFF;
    padding: 10px 20px 20px 25px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 16px 24px 0px rgba(23, 23, 23, 0.1);
            box-shadow: 0px 16px 24px 0px rgba(23, 23, 23, 0.1);
    margin-bottom: 0px;
    z-index: 2;
    position: relative; }
    .s-4 ul.list-white li {
      margin-bottom: 10px;
      list-style-type: none;
      position: relative;
      padding-left: 20px;
      line-height: 1.2; }
      .s-4 ul.list-white li:before {
        content: "";
        position: absolute;
        display: block;
        top: 8px;
        left: 0;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #7763e0; }
  .s-4 p.upps {
    font-size: 19px;
    color: #3C3C3C;
    margin: 30px 0px; }
  .s-4 p {
    font-family: "MuseoSansCyrillic-300";
    font-size: 18px; }
  .s-4 p.upper {
    font-size: 16px;
    color: #151515;
    font-family: "MuseoSansCyrillic-300"; }
  .s-4 p.under {
    font-size: 20px;
    font-family: "MuseoSansCyrillic-500"; }
  .s-4 .bon-fon {
    font-size: 91px;
    font-family: "MuseoSansCyrillic-900";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.7;
    text-align: left;
    position: absolute;
    z-index: 1;
    text-shadow: -10.607px 10.607px 35px rgba(106, 86, 215, 0.19); }
    @media (max-width: 767px) {
      .s-4 .bon-fon {
        font-size: 40px;
        margin-top: 30px; } }
  .s-4 .container-inf {
    position: absolute;
    top: -30px; }
    @media (max-width: 991px) {
      .s-4 .container-inf {
        position: relative;
        top: 0;
        margin-top: 30px; } }
  .s-4 .bon-block {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #FFF;
    font-family: "MuseoSansCyrillic-300";
    font-size: 14px;
    margin: 10px auto 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;
    height: 100%; }
  .s-4 .col-md-6 {
    padding-left: 13px; }
    @media (max-width: 767px) {
      .s-4 .col-md-6 {
        position: relative; } }
  .s-4 .aligs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 767px) {
      .s-4 .aligs {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .s-4 .round-bon {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url("../img/round-fio.png");
    -webkit-box-shadow: -10.607px 10.607px 35px 0px rgba(217, 80, 86, 0.19);
            box-shadow: -10.607px 10.607px 35px 0px rgba(217, 80, 86, 0.19);
    font-family: "MuseoSansCyrillic-900";
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 125px;
    height: 125px;
    position: absolute;
    top: -15px;
    right: -80px;
    z-index: 3; }
    @media (max-width: 991px) {
      .s-4 .round-bon {
        top: -45px;
        right: -0px; } }
    @media (max-width: 767px) {
      .s-4 .round-bon {
        position: relative;
        top: 0;
        left: 0; } }
    .s-4 .round-bon span {
      font-size: 14px;
      font-family: "MuseoSansCyrillic-300"; }
  .s-4 .action-blok {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    position: relative;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.5); }
    @media (max-width: 767px) {
      .s-4 .action-blok {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .s-4 .name-bon {
    color: #000000;
    font-size: 16px;
    font-family: "MuseoSansCyrillic-500";
    padding-left: 10px; }
    @media (max-width: 991px) {
      .s-4 .name-bon {
        padding-right: 100px; } }
    @media (max-width: 767px) {
      .s-4 .name-bon {
        padding-right: 10px; } }
    .s-4 .name-bon span {
      color: #7a67e2;
      font-size: 22px;
      font-family: "MuseoSansCyrillic-900"; }
  .s-4 .bon-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 991px) {
      .s-4 .bon-row {
        display: block; } }
    @media (max-width: 767px) {
      .s-4 .bon-row {
        margin-top: 50px; } }
  .s-4 p.link-more {
    color: #545454;
    font-family: "NanamiPro-Regular5";
    font-size: 18px; }
    .s-4 p.link-more a {
      color: #624dd2;
      font-family: "NanamiPro-Regular7";
      font-size: 18px; }
  .s-4 p.snosk {
    font-size: 14px;
    font-family: "MuseoSansCyrillic-300";
    color: #000000;
    margin-top: 30px; }

.s-5 {
  padding: 10px 10px 50px;
  background: url("../img/s-5-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top; }
  .s-5 .col-md-3 {
    padding-left: 0;
    padding-right: 0; }
  .s-5 .ups {
    font-size: 24px;
    font-family: "NanamiPro-Regular7";
    margin-bottom: 30px; }
  .s-5 a.button {
    max-width: 420px;
    margin: 115px auto 50px;
    position: relative;
    -webkit-box-shadow: 0px 11px 32px 0px rgba(115, 115, 115, 0.3);
            box-shadow: 0px 11px 32px 0px rgba(115, 115, 115, 0.3); }
    .s-5 a.button:before {
      content: "";
      position: absolute;
      display: block;
      background: url("../img/button-arrow.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      background-position: center bottom;
      width: 71px;
      height: 102px;
      top: -130px;
      right: 34%;
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
      -webkit-filter: FlipH;
              filter: FlipH;
      -ms-filter: "FlipH"; }
      @media (max-width: 767px) {
        .s-5 a.button:before {
          display: none; } }
  .s-5 .numb {
    padding: 0 8px;
    z-index: 7;
    font-family: "kram";
    color: #EBEBEB;
    font-size: 54px; }
  .s-5 .inf-panel {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "NanamiPro-Regular6";
    width: auto;
    padding: 10px;
    font-size: 18px; }
    @media (max-width: 767px) {
      .s-5 .inf-panel {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
    .s-5 .inf-panel p {
      margin-bottom: 0; }
    .s-5 .inf-panel img {
      margin-right: 15px; }
      @media (max-width: 767px) {
        .s-5 .inf-panel img {
          margin-right: 0;
          margin-bottom: 20px; } }
  .s-5 .lits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 125px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    -webkit-box-shadow: -5.657px 5.657px 16px 0px rgba(164, 97, 242, 0.15);
            box-shadow: -5.657px 5.657px 16px 0px rgba(164, 97, 242, 0.15); }
    @media (max-width: 767px) {
      .s-5 .lits {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
  .s-5 .wallets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #8A8A8A;
    font-family: "MuseoSansCyrillic-300";
    font-size: 16px;
    margin-top: 20px; }
    .s-5 .wallets p {
      margin-top: -15px; }
  .s-5 .counter-block-main {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 4px;
    display: inline-block;
    margin: 30px auto;
    -webkit-box-shadow: 0px 11px 32px 0px rgba(115, 115, 115, 0.3);
            box-shadow: 0px 11px 32px 0px rgba(115, 115, 115, 0.3);
    background-image: -webkit-linear-gradient(42deg, #9c60fe 0%, #fc6e6d 100%);
    background-image: -ms-linear-gradient(42deg, #9c60fe 0%, #fc6e6d 100%); }
  .s-5 .counter-block {
    font-family: "NanamiPro-Regular7";
    font-size: 60px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-image: -webkit-linear-gradient(42deg, #9c60fe 0%, #fc6e6d 100%);
    background-image: -ms-linear-gradient(42deg, #9c60fe 0%, #fc6e6d 100%);
    -webkit-box-shadow: 0px 11px 32px 0px rgba(115, 115, 115, 0.3);
            box-shadow: 0px 11px 32px 0px rgba(115, 115, 115, 0.3);
    color: #FFF;
    display: inline-block;
    padding: 0px 25px;
    min-height: 70px; }

.orange-btn {
  display: inline-block;
  margin: 30px auto;
  max-width: 420px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-image: -webkit-linear-gradient(-129deg, #ffbd49 0%, #ff7650 100%);
  background-image: -ms-linear-gradient(-129deg, #ffbd49 0%, #ff7650 100%);
  -webkit-box-shadow: 0px 9px 18px 0px rgba(255, 130, 79, 0.42);
          box-shadow: 0px 9px 18px 0px rgba(255, 130, 79, 0.42); }

.rasr .modal-header {
  padding: 0; }

.rasr .modal-body {
  padding: 10px 30px 0px; }
  .rasr .modal-body h4 {
    color: #ff7750;
    font-size: 26px;
    font-family: "NanamiPro-Regular7"; }
  .rasr .modal-body p.italic {
    font-style: italic;
    font-family: "NanamiPro-Regular5"; }
  .rasr .modal-body ul {
    padding-left: 30px; }
    .rasr .modal-body ul li {
      list-style-type: none;
      position: relative; }
      .rasr .modal-body ul li:before {
        position: absolute;
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: #E66968;
        top: 5px;
        left: -30px;
        -webkit-border-radius: 50%;
          -webkit-border-radius-border-radius: 50%; }

.rasr .modal-footer {
  padding-bottom: 35px;
  text-align: center;
  height: 100%; }
  @media (max-width: 767px) {
    .rasr .modal-footer {
      padding-bottom: 60px; } }
  .rasr .modal-footer .countdown {
    font-family: "NanamiPro-Regular5";
    color: #C8C8C8 !important;
    width: auto; }
    @media (max-width: 767px) {
      .rasr .modal-footer .countdown {
        font-size: 18px !important; } }
  .rasr .modal-footer .counts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .rasr .modal-footer .counts img {
      margin-top: -12px; }
  .rasr .modal-footer .orange-btn {
    margin: 0px auto 40px; }

.packet.red-bor .modal-content {
  padding: 0px 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 4px solid #fb6e6f; }

.packet.orange-bor .modal-content {
  padding: 0px 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 4px solid #ff7650; }

.packet.green-bor .modal-content {
  padding: 0px 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 4px solid #77bb52; }

.packet.blue-bor .modal-content {
  padding: 0px 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-bottom: 4px solid #5d9adb; }

.packet .title-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .packet .title-row {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }
  .packet .title-row img {
    margin-right: 20px; }
  .packet .title-row .title-pan h3 {
    color: #2F2F2F;
    font-family: "NanamiPro-Regular7";
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 0; }
  .packet .title-row .title-pan h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "NanamiPro-Regular5";
    margin-bottom: 0; }

.packet p {
  color: #777;
  font-family: "NanamiPro-Regular5";
  font-size: 18px; }

.packet ul.list-white {
  display: block;
  background-color: #FFF;
  padding: 20px;
  padding-left: 0;
  -webkit-border-radius: 10px;
  border-radius: 50px;
  margin-bottom: 10px; }
  .packet ul.list-white li {
    margin-bottom: 15px;
    list-style-type: none;
    position: relative;
    padding-left: 30px;
    line-height: 1.2;
    color: #777;
    font-family: "NanamiPro-Regular5";
    font-size: 18px; }
    .packet ul.list-white li:before {
      content: "";
      position: absolute;
      display: block;
      top: 8px;
      left: 0;
      width: 7px;
      height: 7px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #f46c6b; }

.packet h3 {
  font-size: 20px;
  font-family: "NanamiPro-Regular7"; }

button.close {
  position: absolute;
  right: -10px;
  top: -10px;
  background: #ff7750;
  font-size: 24px;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 1;
  padding: 0 5px 0px 5px;
  font-family: "NanamiPro-Regular5";
  font-weight: normal; }

.shad-n {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.colorDefinition {
  background: transparent;
  color: #FFFFFF;
  border-color: transparent;
  display: inline-block; }
