<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title></title>  
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content=" " />
	<meta name="keywords"  content=" " />
	<meta name="Resource-type" content="Document" />
	<link rel="icon" type="image/png" sizes="64x64" href="img/favico.png">
	<meta property="og:title" content=" " /> 
	<meta property="og:url" content="" />
	<meta property="og:image" content="img/ogg.jpg" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"> 
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
<header class="thanks">
	<div class="container">
		<nav>
			<div class="row logos-row">
			<div class="col-sm-4 col-sm-push-7 conts">
				<div class="menu-humb">
				<span class="line-humb"></span>
				<span class="line-humb"></span>
				<span class="line-humb"></span>
				</div>
				<a href="tel:+38 093 445 26 54">+38 093 445 26 54</a>
				<button class="trans-btn" data-toggle="modal" data-target="#modal-recall">Мы перезвоним вам</button>
			</div>
			<div class="col-sm-4 col-sm-pull-7 logos-block">
			<div class="logo"><span>Vash</span>art</div>
			<div class="descriptor">Производитель популярного и узнаваемого бренда VASH</div></div></div>
			<div class="row">
			<div class="col-md-12 menu"><ul>
				<li><a href="#s-1">О компании</a></li>
				<li><a href="#s-1">Каталог</a></li>
				<li><a href="#s-1">Производство</a></li>
				<li><a href="#s-1">Отзывы</a></li>
				<li><a href="#s-1">Контакты</a></li>
			</ul></div></div>
		</nav>
		<div class="row">
			<div class="col-md-8 inf">
				<div class="bord"><h1>Качественная женская фитнес одежда и купальники VASH</h1></div>          

<meta charset="UTF-8" />
<?php
if (isset($_POST['name'])) {$name = $_POST['name']; if ($name == '') {unset($name);}} /* проверка полей*/
if (isset($_POST['tel'])) {$tel = $_POST['tel']; if ($tel == '') {unset($tel);}}/* проверка полей*/  
if (isset($name) & isset($tel)){ 
$texts = $_POST['text'];
$mails = $_POST['mail']; 
$title = $_POST['title']; 
$address = "versstachi@gmail.com";
$metki =  $_SERVER["HTTP_REFERER"];
$otkyda = "Производитель популярного и узнаваемого бренда VASH"; 
$mes = "Имя: $name \nТелефон: $tel \nMail: $mails \nСообщение: $texts \nОткуда:$title";
$metki = $_SERVER['REQUEST_URI'];
$send = mail ($address,$otkyda,$mes,"Content-type:text/plain; charset = UTF-8\r\nFrom:$email");
if ($send == 'true')
{echo "<div class="bord"><h1>Спасибо, что оставили заявку</h1></div>
      <p class="under-red">В течении 10 минут с вами свяжеться менеджер ответит на ваши вопросы и оформит заказ</p> ";}
else {echo "Ошибка, сообщение не отправлено!";} 
}
else
{
echo "<p>Вы заполнили не все поля, вернитесь назад и заполните необходимые поля!</p>";
}
?>  
				
					<button class="ally " type="submit">Перейти на главную</button>
			</div>
			<div class="visible-xs head-bg-mobile"></div>
		</div>
	</div>
</header> 
<footer id="s-footer">
	<div class="container">
		<div class="row">
			<ul class="rows-foot">
				<li class="colss"> 
				<h4>О компании</h4>
			<div class="logo"><span>Vash</span>art</div>
				<p class="litl">Производитель популярного и узнаваемого бренда VASH. Все права защищены 2018.</p>
				<p class="copyright gold-f"><a href="http://scaling.com.ua">Разработано в Scaling</a></p>
				</li>
				<li class="colss">
					<h4>Почему мы </h4>
					<ul class="lister">
						<li>Свое производство   </li>
						<li>Доступные цены</li>
						<li>Весь товар в наличии</li>
						<li>Лучшие ткани</li>
						<li>Топовые модели</li>
						<li>Без размерных рядов</li>
					</ul>
				</li>
				<li class="colss">
					<h4>Клиентам</h4>   
					<ul class="lister">
						<li><a href="">О компании</a></li>
						<li><a href="">Каталог продукции</a></li>
						<li><a href="">Наше производство</a></li>
						<li><a href="">Отзывы наших клиентов</a></li> 
						<li><a href="">Как мы работаем</a></li>
						<li><a href="">Новая Коллекция</a></li>
					</ul>
				</li>
				<li class="colss">
					<h4>Контакты</h4>
					<a href="" class="telef">+3 809 344 52 64 </a>
					<a href="" class="gold-f btns">Заказать звонок</a>  
					<a href="" class="mailer">scaling.com.ua@gmail.com </a>
					<a href="" class="gold-f btns">Напишите нам</a> 
					<div>График работы</div>
					<div class="gold-f">Пн-Пт9:00-18:00</div>
				</li>
				<li class="colss">
					<h4>Мы в соцсетях</h4>
					<div class="icos-soc">
						<div class="icos-sprite-facebook-logo-button"></div>
						<div class="icos-sprite-instagram-logo"></div>
					</div>
					<p>Подпишитесь и первыми узнавайте о скидках.</p>
					<button class="ally" data-toggle="modal" data-target="#modal-buy-5">ПОДПИСАТЬСЯ</button> 
				</li>
			</ul> 
		</div>
	</div>
</footer>
<!-- Modal ЗАКАЗАТЬ  -->
<div id="modal-buydost" class="modal fade call" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
        <h3>Оставьте заявку на консультацию и расчет стоимости</h3> 
				<div class="head-line-und "></div>
      </div> 
      <div class="modal-body"> 
      	<form  action="/thanks.php" method="post" > 
       			<input type="hidden" class="popup-shower" name="title" value="">
            <input type="text" name="name" required placeholder="Введите имя">
            <input type="tel" name="tel" required placeholder="Введите номер">
      		<button class="bir-btn" type="submit">ОСТАВИТЬ ЗАЯВКУ</button>
      	</form> 
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div> 
  
	 <script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/common.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js
"></script> 
  <script type="text/javascript">function setbtn(obj) {
var id=obj.title;
$('.popup-shower').val("Заказ звонка " + id);
}</script> 
</body>
</html>