@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../font/OpenSans-Regular.eot);
  src: url(../font/OpenSans-Regular.woff);
  src: url(../font/OpenSans-Regular.woff2);
  src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../font/OpenSans-Bold.eot);
  src: url(../font/OpenSans-Bold.woff);
  src: url(../font/OpenSans-Bold.woff2);
  src: url(../font/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../font/OpenSans-ExtraBold.eot);
  src: url(../font/OpenSans-ExtraBold.woff);
  src: url(../font/OpenSans-ExtraBold.woff2);
  src: url(../font/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(../font/OpenSans-Light.eot);
  src: url(../font/OpenSans-Light.woff);
  src: url(../font/OpenSans-Light.woff2);
  src: url(../font/OpenSans-Light.ttf);
}

body {
  color: #3f3f3f;
  font-family: "OpenSans-Regular";
  background-color: #f9f9f9;
}

.menu-hum {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menu-hum {
    display: block;
  }
}

.menu-hum span.hun-lin {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-bottom: 4px;
}

.menu-mobile-row {
  display: none;
}

@media (max-width: 991px) {
  .menu-mobile-row {
    display: block;
  }
}

.menu-mobile-row .menu {
  margin-top: 20px;
}

h1 {
  font-family: "OpenSans-ExtraBold";
}

.logo span {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0;
  line-height: 0;
  border-bottom: 2px solid #3f3f3f;
}

.lin-gor {
  height: 4px;
  background-color: #fe6192;
  display: block;
  margin: 20px 0px;
  width: 50px;
}

.container {
  padding: 70px 10px;
}

@media (max-width: 767px) {
  .container {
    padding: 30px 10px;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

button.btn-bir {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #70d1b1;
  -webkit-box-shadow: 2.099px 10.798px 10px 0px rgba(62, 194, 150, 0.45);
  box-shadow: 2.099px 10.798px 10px 0px rgba(62, 194, 150, 0.45);
  padding: 15px 20px;
  min-width: 272px;
  text-align: center;
  color: #FFF;
  border: none;
  font-size: 15px;
  font-family: "OpenSans-Bold";
  opacity: 0.95;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

button.btn-bir:hover {
  -webkit-box-shadow: 2.099px 10.798px 10px 2px rgba(62, 194, 150, 0.45);
  box-shadow: 2.099px 10.798px 10px 2px rgba(62, 194, 150, 0.45);
  opacity: 1;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/s-1-bg-p.png") no-repeat top 40% left 10%, #372c7e;
  height: 100vh;
  color: #FFF;
}

@media (max-width: 991px) {
  header {
    height: 100%;
  }
}

header .container {
  padding: 0px 0px;
}

header #box {
  left: 20%;
}

header nav {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  display: block;
  background-color: #4e4491;
  color: #fff;
  padding: 20px 0px;
  z-index: 88;
}

header nav .col-md-8 {
  position: static;
}

header nav .row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  header nav .row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  header nav ul {
    display: none;
  }
}

header nav ul li {
  list-style-type: none;
  color: #fff;
  display: inline-block;
  float: left;
  margin: 0px 25px;
}

@media (max-width: 991px) {
  header nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

header nav a {
  color: #fff;
}

header nav a:hover {
  color: #fff;
  text-decoration: none;
}

header nav .contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "OpenSans-Bold";
}

@media (max-width: 1240px) {
  header nav .contacts {
    font-size: 12px;
  }
}

header nav .contacts img {
  opacity: 1;
  margin-left: 10px;
}

header nav .contacts img:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  header .logo {
    margin-bottom: 10px;
  }
}

header h1 {
  margin-bottom: 30px;
  color: #fe6192;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
}

@media (max-width: 1240px) {
  header h1 {
    font-size: 45px;
  }
}

@media (max-width: 991px) {
  header h1 {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  header h1 {
    font-size: 32px;
    margin-top: 140px;
  }
}

header h1 span {
  color: #fff;
  font-size: 45px;
}

@media (max-width: 767px) {
  header h1 span {
    font-size: 26px;
  }
}

header p {
  font-size: 18px;
  font-family: "OpenSans-Bold";
  z-index: 6;
  position: relative;
}

@media (max-width: 767px) {
  header p {
    font-size: 16px;
  }
}

header a.button {
  margin-top: 30px;
}

header .img-big {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 80vh;
  overflow: hidden;
  z-index: 6;
}

header .img-big img {
  width: 100%;
}

@media (max-width: 1240px) {
  header .img-big img {
    bottom: 0;
    position: absolute;
  }
}

@media (max-width: 991px) {
  header .img-big {
    display: none;
  }
}

header .img-mobs {
  display: none;
}

@media (max-width: 991px) {
  header .img-mobs {
    display: block;
  }
}

@media (max-width: 767px) {
  header .img-mobs {
    margin-top: 30px;
  }
}

header .img-mobs img {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 6;
  position: relative;
}

header .orbit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 767px) {
  header .orbit {
    display: none;
  }
}

header button {
  z-index: 2;
  position: relative;
  margin-top: 15px;
}

.s-projj h2 {
  margin-bottom: 20px;
  font-size: 45px;
  font-family: "OpenSans-Bold";
  color: #372c7e;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .s-projj h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .s-projj h2 {
    font-size: 28px;
  }
}

.s-projj .lin-ver {
  display: block;
  height: 60px;
  width: 2px;
  margin: 30px auto;
  margin-bottom: 15px;
  background-color: #372c7e;
}

@media (max-width: 767px) {
  .s-projj .lin-ver {
    margin: 20px auto;
    height: 60px;
  }
}

.s-projj h3 {
  font-family: "OpenSans-Bold";
  color: #4F4F4F;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 0;
}

@media (max-width: 767px) {
  .s-projj h3 {
    font-size: 24px;
  }
}

.s-projj h4 {
  font-family: "OpenSans-Bold";
  color: #4F4F4F;
  font-size: 22px;
}

@media (max-width: 767px) {
  .s-projj h4 {
    margin: 30px 0px;
  }
}

.s-projj .img-site img {
  max-width: 100%;
  display: block;
  height: auto;
}

.s-projj .nav {
  margin: 20px 0px 60px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .s-projj .nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.s-projj .addition-block {
  margin-top: 30px;
  border-left: 4px #372c7e solid;
  padding-left: 40px;
}

@media (max-width: 991px) {
  .s-projj .addition-block {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .s-projj .addition-block {
    padding-left: 10px;
  }
}

.s-projj .addition-block ul {
  padding-left: 0;
}

.s-projj .addition-block ul li {
  list-style-type: none;
  font-size: 15px;
  color: #4f4f4f;
  padding-left: 10px;
  margin-left: -10px;
  display: none;
  font-family: "OpenSans-Regular";
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.s-projj .addition-block ul li:hover {
  -webkit-box-shadow: 0px 3px 10px 0px #ccc;
  box-shadow: 0px 3px 10px 0px #ccc;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.s-projj .addition-block ul li:hover span {
  color: #fe6192;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.s-projj .addition-block ul li.flexy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.s-projj .addition-block ul li:nth-child(-n+10) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .s-projj .addition-block ul li {
    margin-bottom: 10px;
  }
}

.s-projj .addition-block ul li span {
  color: #372c7e;
  font-size: 30px;
  font-family: "OpenSans-Regular";
  margin-right: 10px;
}

@media (max-width: 767px) {
  .s-projj .addition-block ul li span {
    font-size: 30px;
  }
}

.s-projj .addition-block ul li span:hover {
  color: #fe6192;
}

.s-projj .lookall {
  cursor: pointer;
  margin-top: 15px;
  color: blue;
}

.s-projj .lookall span:hover {
  border-bottom: 1px blue solid;
}

.s-projj .price-row {
  position: relative;
}

.s-projj .price-row:before {
  content: "";
  border: 1px #4f4f4f dashed;
  width: 100%;
  position: absolute;
  display: block;
  height: 0px;
  top: 35px;
  z-index: 1;
  left: 0;
}

.s-projj .price-row .price {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 10px;
  font-size: 15px;
  color: #4f4f4f;
  z-index: 5;
  position: relative;
}

.s-projj .price-row .price span {
  font-size: 35px;
  font-family: "OpenSans-Bold";
  color: #372c7e;
  z-index: 5;
  position: relative;
  display: inline-block;
}

.s-projj button {
  display: block;
  margin: 30px auto;
}

.s-projj .proj-box {
  margin-bottom: 30px;
  position: relative;
}

.s-projj .proj-box:hover .prog-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

.s-projj .proj-img {
  z-index: 2;
}

.s-projj .proj-img img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 0.8;
}

.s-projj .proj-img img .prog-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.s-projj .prog-content {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 5;
  color: #FFF;
}

.s-projj .prog-content:hover .proj-img img:hover {
  opacity: 1;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.s-projj .prog-content h4 {
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  color: #FFF;
  position: relative;
  margin: 0;
  padding: 10px 0px 15px;
}

.s-projj .prog-content h4:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #FFF;
  bottom: 0;
}

.s-projj .prog-content a {
  color: #FFF;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0px;
}

.s-projj .prog-content a:hover {
  color: #FFF;
}

.s-projj .slide-project {
  margin-top: 60px;
}

.s-projj .slide-project h3 {
  margin-bottom: 40px;
}

.s-projj .slider-left-arrow {
  position: absolute;
  top: 42%;
  left: -40px;
  font-size: 25px;
  font-family: "OpenSans-Light";
  cursor: pointer;
}

@media (max-width: 1300px) {
  .s-projj .slider-left-arrow {
    left: 0px;
  }
}

.s-projj .slider-left-arrow span {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.s-projj .slider-left-arrow span:hover {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  color: #fe6192;
}

.s-projj .slider-right-arrow {
  position: absolute;
  top: 42%;
  right: -40px;
  font-size: 25px;
  font-family: "OpenSans-Light";
  cursor: pointer;
}

@media (max-width: 1300px) {
  .s-projj .slider-right-arrow {
    right: 0px;
  }
}

.s-projj .slider-right-arrow span {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.s-projj .slider-right-arrow span:hover {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  color: #fe6192;
}

.s-projj .nav-pills>li.active>a,
.s-projj .nav-pills>li.active>a:focus,
.s-projj .nav-pills>li.active>a:hover {
  background-color: #fe6192;
  color: #FFF;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 15px 20px;
  text-align: center;
  color: #FFF;
  border: none;
  font-size: 15px;
  font-family: "OpenSans-Bold";
  letter-spacing: 1px;
  min-width: 270px;
}

.s-projj .nav-pills>li>a {
  background-color: #e2e2e2;
  margin: 0 10px;
  color: #4f4f4f;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 15px 20px;
  text-align: center;
  border: none;
  font-size: 15px;
  font-family: "OpenSans-Bold";
  letter-spacing: 1px;
  min-width: 270px;
}

@media (max-width: 991px) {
  .s-projj .nav-pills>li>a {
    margin: 10px 0px;
  }
}

.s-2.s-projj .price-row .price {
  display: inline-block;
}

.s-4.s-projj .price-row .price {
  display: inline-block;
}

.s-5 {
  display: block;
}

.s-6 {
  padding: 55px 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/s-6-bg-p.png") no-repeat bottom left 30%, #4e4491;
  color: #FFF;
}

@media (max-width: 767px) {
  .s-6 {
    padding: 50px 10px;
  }
}

.s-6 #bigBox {
  left: 10%;
}

.s-6 .lin-gor {
  margin: 20px auto;
}

.s-6 h2 {
  margin-bottom: 30px;
  color: #fe6192;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
}

@media (max-width: 1240px) {
  .s-6 h2 {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .s-6 h2 {
    font-size: 32px;
  }
}

.s-6 h2 span {
  color: #fff;
  font-size: 45px;
  text-transform: lowercase;
}

@media (max-width: 767px) {
  .s-6 h2 span {
    font-size: 26px;
  }
}

.s-6 p {
  font-size: 18px;
  color: white;
  line-height: 1.444;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .s-6 p {
    font-size: 16px;
  }
}

footer {
  background-color: #f9f9f9;
  color: #424242;
  font-size: 14px;
  text-transform: uppercase;
}

footer .logo p {
  text-transform: none;
  margin-top: 15px;
}

footer a {
  color: #424242;
  padding: 0 10px;
  display: block;
  margin-bottom: 10px;
}

footer a {
  color: #424242;
}

footer a:hover {
  color: #424242;
}

footer .conts {
  text-align: center;
  font-size: 14px;
  color: #F05DA1;
}

footer .conts .btn-bir {
  color: #ffffff;
  font-weight: 700;
}

footer .conts img {
  margin-top: 20px;
}

footer button.btn-bir {
  min-width: auto;
}

footer .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

footer .row:before,
footer .row:after {
  display: none;
}

footer .container {
  padding: 50px 10px;
}

@media (max-width: 991px) {
  footer .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

footer .col-md {
  padding-right: 10px;
}

@media (max-width: 991px) {
  footer .col-md {
    margin: 10px;
  }
}


.modal .close {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999999;
}

.modal h4 {
  font-family: "OpenSans-Bold";
  font-size: 36px;
  margin-top: 20px;
}

.modal form {
  width: 320px;
  display: block;
  margin: 40px auto 20px;
}

.modal form input {
  min-width: 272px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
}

.modal .modal-header {
  border-bottom: 0px solid #fff;
  padding: 0;
}

.modal .modal-footer {
  border-top: 0px solid #fff;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox+label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  font-weight: 400;
  font-weight: 16px;
  line-height: 1.2;
}

.checkbox+label:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 8px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: 2px #ccc dashed;
  background: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox+label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -2px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #372c7e;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox:checked+label:before {
  background: #fff;
  border: 2px #372c7e dashed;
}

.checkbox:checked+label:after {
  left: 10px;
  background: #372c7e;
}

.checkbox:focus+label:before {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 0, 0.7);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 0, 0.7);
}

#circle-orbit-container {
  position: relative;
  top: 25px;
  left: 25px;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

#inner-orbit {
  position: absolute;
  top: 10vh;
  right: 10vh;
  width: 100vh;
  height: 100vh;
  border: 2px #fe6192 dashed;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}

.inner-orbit-cirlces {
  position: absolute;
  top: 50%;
  left: -10px;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fe6192;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(254, 97, 146, 0.48);
  box-shadow: 0px 0px 0px 6px rgba(254, 97, 146, 0.48);
}

#middle-orbit {
  position: absolute;
  top: 5vh;
  right: 5vh;
  width: 110vh;
  height: 110vh;
  border: 2px #fe6192 dashed;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: spin-right 30s linear infinite;
  animation: spin-right 30s linear infinite;
}

.middle-orbit-cirlces {
  position: absolute;
  top: 50%;
  left: -10px;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fe6192;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(254, 97, 146, 0.48);
  box-shadow: 0px 0px 0px 6px rgba(254, 97, 146, 0.48);
}

#outer-orbit {
  position: absolute;
  top: 0vh;
  right: 0vh;
  width: 120vh;
  height: 120vh;
  border: 2px #fe6192 dashed;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;
}

.outer-orbit-cirlces {
  position: absolute;
  top: 50%;
  left: -10px;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fe6192;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 0px 6px rgba(254, 97, 146, 0.48);
  box-shadow: 0px 0px 0px 6px rgba(254, 97, 146, 0.48);
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#bigBox {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 22%;
  left: 30%;
  margin: -100px 0 0 -120px;
  -webkit-animation: bigBoxAnimation 6s linear infinite;
  animation: bigBoxAnimation 6s linear infinite;
}

#box {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  -webkit-animation: boxAnimation 2.95s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  animation: boxAnimation 2.95s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
}

#box2 {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  -webkit-animation: boxAnimation 2.95s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  animation: boxAnimation 2.95s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  -webkit-animation: boxAnimation 3.2s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  animation: boxAnimation 3.2s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

#box::after,
#box2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: spanAnimation 3s cubic-bezier(0.3, 0.27, 0.07, 1.64) infinite;
  animation: spanAnimation 3s cubic-bezier(0.3, 0.27, 0.07, 1.64) infinite;
  -webkit-box-shadow: 0 0 20px 2px white;
  box-shadow: 0 0 20px 2px white;
}

#box2::after {
  background: #fe6192;
}

@-webkit-keyframes bigBoxAnimation {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes bigBoxAnimation {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes boxAnimation {
  50% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
}

@keyframes boxAnimation {
  50% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
}

@-webkit-keyframes spanAnimation {
  50% {
    -webkit-transform: translate;
    transform: translate;
  }
}

@keyframes spanAnimation {
  50% {
    -webkit-transform: translate;
    transform: translate;
  }
}

.flip-vertical-fwd {
  -webkit-animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-fwd 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
    transform: translateZ(160px) rotateY(180deg);
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

@keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: translateZ(160px) rotateY(180deg);
    transform: translateZ(160px) rotateY(180deg);
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

.color-change-3x {
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-3x {
  0% {
    background: #ffffff;
  }

  50% {
    background: #F9F9F9;
  }

  100% {
    background: #ffffff;
  }
}

@keyframes color-change-3x {
  0% {
    background: #ffffff;
  }

  50% {
    background: #F9F9F9;
  }

  100% {
    background: #ffffff;
  }
}

.color-change-2x {
  -webkit-animation: color-change-2x 4s linear infinite alternate both;
  animation: color-change-2x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #F9F9F9;
  }

  50% {
    background: #ffffff;
  }

  100% {
    background: #F9F9F9;
  }
}

@keyframes color-change-2x {
  0% {
    background: #F9F9F9;
  }

  50% {
    background: #ffffff;
  }

  100% {
    background: #F9F9F9;
  }
}